In [1]:
# load dependencies and prepare cache

import re
import requests
import requests_cache
# from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from io import BytesIO

requests_cache.install_cache()

In [2]:
r = requests.get('https://www.irs.gov/pub/irs-soi/1516il.xls')

dfs = {}

for direction in ['in', 'out']:
    pd_options = {
        'sheet_name': f'County {direction.capitalize()}flow',
        'header': None,
        'dtype': 'object'
    }

    with BytesIO(r.content) as fh:
        df = pd.read_excel(fh, **pd_options)

    df.iloc[3] = df.iloc[3].fillna(method='ffill')

    columns = [tuple(values) for name, values in df.iloc[3:5].iteritems()]
    df = df.transpose().set_index([3,4]).transpose()
    df = df[df.notnull().all(axis=1)].reset_index(drop=True)

    df.set_index(list(df.columns)[:6], inplace=True)

    df.columns = df.columns.droplevel(1)

    # list(map(lambda x, i: i, df.index.names)
    # [i for i, x in enumerate(df.index.names)]
    def rename_index(div, subdiv):
        names = []

        if 'from' in div.lower():
            names.append('from')
        else:
            names.append('to')

        if 'state' in subdiv.lower():
            names.append('state')
        else:
            names.append('county')

        if 'code' in subdiv.lower():
            names.append('code')

        return '_'.join(names)

    df.index.names = [rename_index(*x) for x in df.index.names]

    df.reset_index(inplace=True)
    
    dfs[direction] = df

In [3]:
# dfs['in'].set_index(list(dfs['in'].columns)[:5]) - dfs['out'].set_index(list(dfs['out'].columns)[:5])
dfs['in'].rename(columns={
    'Number of returns': 'in_returns',
    'Number of exemptions': 'in_exemptions',
    'Adjusted gross income (AGI)': 'in_agi'
}, inplace=True)

dfs['out'].rename(columns={
    'Number of returns': 'out_returns',
    'Number of exemptions': 'out_exemptions',
    'Adjusted gross income (AGI)': 'out_agi'
}, inplace=True)

In [4]:
df = dfs['in'].merge(
    dfs['out'],
    how='outer',
    on=['to_state_code', 'to_county_code', 'from_state_code', 'from_county_code']
)

In [5]:
df.set_index(['to_state_code', 'to_county_code', 'from_state_code', 'from_county_code'])

3                                                             from_state  \
to_state_code to_county_code from_state_code from_county_code
17            0              96              0                        IL
                             97              0                        IL
                                             1                        IL
                                             3                        IL
                             98              0                        IL
              1              96              0                        IL
                             97              0                        IL
                                             1                        IL
                                             3                        IL
                             98              0                        IL
                             17              1                        IL
                             29              127                      MO
                             17              149                      IL
                                             67                       IL
                             29              111                      MO
                             17              167                      IL
                                             109                      IL
                                             31                       IL
                             58              0                        SS
                             59              0                        DS
                                             1                        DS
                                             3                        DS
                                             5                        DS
                                             7                        DS
                             57              9                        FR
              3              96              0                        IL
                             97              0                        IL
                                             1                        IL
                                             3                        IL
                             17              3                        IL
...                                                                  ...
48            201            17              201                     NaN
6             73             17              201                     NaN
12            57             17              201                     NaN
              71             17              201                     NaN
6             37             17              201                     NaN
48            439            17              201                     NaN
              113            17              201                     NaN
55            133            17              201                     NaN
27            53             17              201                     NaN
48            29             17              201                     NaN
12            103            17              201                     NaN
58            0              17              201                     NaN
59            0              17              201                     NaN
              1              17              201                     NaN
              3              17              201                     NaN
              5              17              201                     NaN
              7              17              201                     NaN
57            9              17              201                     NaN
96            0              17              203                     NaN
97            0              17              203                     NaN
              1              17              203                     NaN
              3              17              203                     NaN
98            0              17              203                     NaN
58            0              17              203                     NaN
59            0              17              203                     NaN
              1              17              203                     NaN
              3              17              203                     NaN
              5              17              203                     NaN
              7              17              203                     NaN
57            9              17              203                     NaN

3                                                                                                   from_county  \
to_state_code to_county_code from_state_code from_county_code
17            0              96              0                                   Total Migration-US and Foreign
                             97              0                                               Total Migration-US
                                             1                                       Total Migration-Same State
                                             3                                  Total Migration-Different State
                             98              0                                          Total Migration-Foreign
              1              96              0                      Adams County Total Migration-US and Foreign
                             97              0                                  Adams County Total Migration-US
                                             1                          Adams County Total Migration-Same State
                                             3                     Adams County Total Migration-Different State
                             98              0                             Adams County Total Migration-Foreign
                             17              1                                        Adams County Non-migrants
                             29              127                                                  Marion County
                             17              149                                                    Pike County
                                             67                                                  Hancock County
                             29              111                                                   Lewis County
                             17              167                                                Sangamon County
                                             109                                               McDonough County
                                             31                                                     Cook County
                             58              0                                         Other flows - Same State
                             59              0                                    Other flows - Different State
                                             1                                          Other flows - Northeast
                                             3                                            Other flows - Midwest
                                             5                                              Other flows - South
                                             7                                               Other flows - West
                             57              9                                            Foreign - Other flows
              3              96              0                  Alexander County Total Migration-US and Foreign
                             97              0                              Alexander County Total Migration-US
                                             1                      Alexander County Total Migration-Same State
                                             3                 Alexander County Total Migration-Different State
                             17              3                                    Alexander County Non-migrants
...                                                                                                         ...
48            201            17              201                                                            NaN
6             73             17              201                                                            NaN
12            57             17              201                                                            NaN
              71             17              201                                                            NaN
6             37             17              201                                                            NaN
48            439            17              201                                                            NaN
              113            17              201                                                            NaN
55            133            17              201                                                            NaN
27            53             17              201                                                            NaN
48            29             17              201                                                            NaN
12            103            17              201                                                            NaN
58            0              17              201                                                            NaN
59            0              17              201                                                            NaN
              1              17              201                                                            NaN
              3              17              201                                                            NaN
              5              17              201                                                            NaN
              7              17              201                                                            NaN
57            9              17              201                                                            NaN
96            0              17              203                                                            NaN
97            0              17              203                                                            NaN
              1              17              203                                                            NaN
              3              17              203                                                            NaN
98            0              17              203                                                            NaN
58            0              17              203                                                            NaN
59            0              17              203                                                            NaN
              1              17              203                                                            NaN
              3              17              203                                                            NaN
              5              17              203                                                            NaN
              7              17              203                                                            NaN
57            9              17              203                                                            NaN

3                                                             in_returns  \
to_state_code to_county_code from_state_code from_county_code
17            0              96              0                    237975
                             97              0                    236184
                                             1                    141774
                                             3                     94410
                             98              0                      1791
              1              96              0                       910
                             97              0                       910
                                             1                       359
                                             3                       551
                             98              0                         d
                             17              1                     26029
                             29              127                      73
                             17              149                      62
                                             67                       48
                             29              111                      40
                             17              167                      30
                                             109                      27
                                             31                       22
                             58              0                       170
                             59              0                       438
                                             1                        24
                                             3                       234
                                             5                       113
                                             7                        67
                             57              9                         d
              3              96              0                        85
                             97              0                        85
                                             1                        39
                                             3                        46
                             17              3                      2024
...                                                                  ...
48            201            17              201                     NaN
6             73             17              201                     NaN
12            57             17              201                     NaN
              71             17              201                     NaN
6             37             17              201                     NaN
48            439            17              201                     NaN
              113            17              201                     NaN
55            133            17              201                     NaN
27            53             17              201                     NaN
48            29             17              201                     NaN
12            103            17              201                     NaN
58            0              17              201                     NaN
59            0              17              201                     NaN
              1              17              201                     NaN
              3              17              201                     NaN
              5              17              201                     NaN
              7              17              201                     NaN
57            9              17              201                     NaN
96            0              17              203                     NaN
97            0              17              203                     NaN
              1              17              203                     NaN
              3              17              203                     NaN
98            0              17              203                     NaN
58            0              17              203                     NaN
59            0              17              203                     NaN
              1              17              203                     NaN
              3              17              203                     NaN
              5              17              203                     NaN
              7              17              203                     NaN
57            9              17              203                     NaN

3                                                             in_exemptions  \
to_state_code to_county_code from_state_code from_county_code
17            0              96              0                       435119
                             97              0                       431390
                                             1                       266101
                                             3                       165289
                             98              0                         3729
              1              96              0                         1698
                             97              0                         1698
                                             1                          666
                                             3                         1032
                             98              0                            d
                             17              1                        54617
                             29              127                        119
                             17              149                        108
                                             67                         100
                             29              111                         60
                             17              167                         50
                                             109                         47
                                             31                          41
                             58              0                          320
                             59              0                          853
                                             1                           54
                                             3                          435
                                             5                          231
                                             7                          133
                             57              9                            d
              3              96              0                          172
                             97              0                          172
                                             1                           77
                                             3                           95
                             17              3                         4390
...                                                                     ...
48            201            17              201                        NaN
6             73             17              201                        NaN
12            57             17              201                        NaN
              71             17              201                        NaN
6             37             17              201                        NaN
48            439            17              201                        NaN
              113            17              201                        NaN
55            133            17              201                        NaN
27            53             17              201                        NaN
48            29             17              201                        NaN
12            103            17              201                        NaN
58            0              17              201                        NaN
59            0              17              201                        NaN
              1              17              201                        NaN
              3              17              201                        NaN
              5              17              201                        NaN
              7              17              201                        NaN

In [6]:
non_migrants = df[
    (df['to_state_code'] == df['from_state_code']) & 
    (df['to_county_code'] == df['from_county_code'])
]

non_migrants = non_migrants[
    ['to_state_code', 'to_county_code', 'from_county', 'in_returns', 'in_exemptions', 'in_agi']
].rename(
    columns=lambda x: x.replace('to_', '').replace('from_', '').replace('in_', 'nom_')
).reset_index(drop=True)

In [7]:
total_in = df[df['from_state_code'] == 96].reset_index(drop=True)

total_out = df[df['to_state_code'] == 96].reset_index(drop=True)

In [8]:
prepped_in = total_in[
    ['to_state_code', 'to_county_code', 'from_county', 'in_returns', 'in_exemptions', 'in_agi']
].rename(columns=lambda x: x.replace('to_', '').replace('from_', ''))

prepped_out = total_out[
    ['from_state_code', 'from_county_code', 'to_county', 'out_returns', 'out_exemptions', 'out_agi']
].rename(columns=lambda x: x.replace('to_', '').replace('from_', ''))

prepped_net = prepped_in.merge(prepped_out, on=['state_code', 'county_code', 'county'])

In [9]:
prepped_net['net_returns'] = prepped_net.in_returns - prepped_net.out_returns
prepped_net['net_exemptions'] = prepped_net.in_exemptions - prepped_net.out_exemptions
prepped_net['net_agi'] = prepped_net.in_agi - prepped_net.out_agi

prepped_net

3,state_code,county_code,county,in_returns,in_exemptions,in_agi,out_returns,out_exemptions,out_agi,net_returns,net_exemptions,net_agi
0,17,0,Total Migration-US and Foreign,237975,435119,15066576,281076,522956,19908754,-43101,-87837,-4842178
1,17,1,Adams County Total Migration-US and Foreign,910,1698,39398,1103,1956,51541,-193,-258,-12143
2,17,3,Alexander County Total Migration-US and Foreign,85,172,2183,183,381,5007,-98,-209,-2824
3,17,5,Bond County Total Migration-US and Foreign,327,655,12915,352,668,14841,-25,-13,-1926
4,17,7,Boone County Total Migration-US and Foreign,1373,2861,65794,1497,2836,76680,-124,25,-10886
5,17,9,Brown County Total Migration-US and Foreign,68,118,2779,91,165,3487,-23,-47,-708
6,17,11,Bureau County Total Migration-US and Foreign,712,1394,28413,745,1376,35301,-33,18,-6888
7,17,13,Calhoun County Total Migration-US and Foreign,51,101,1902,50,97,2097,1,4,-195
8,17,15,Carroll County Total Migration-US and Foreign,270,509,11229,319,532,12635,-49,-23,-1406
9,17,17,Cass County Total Migration-US and Foreign,229,449,8362,378,745,13575,-149,-296,-5213
10,17,19,Champaign County Total Migration-US and Foreign,4266,7222,219947,5386,9388,310869,-1120,-2166,-90922
11,17,21,Christian County Total Migration-US and Foreign,544,980,28916,635,1184,26949,-91,-204,1967
12,17,23,Clark County Total Migration-US and Foreign,290,569,11767,295,533,9928,-5,36,1839
13,17,25,Clay County Total Migration-US and Foreign,222,448,7555,262,508,9193,-40,-60,-1638
14,17,27,Clinton County Total Migration-US and Foreign,715,1392,30149,786,1419,33828,-71,-27,-3679
15,17,29,Coles County Total Migration-US and Foreign,1016,1798,40582,1257,2152,53619,-241,-354,-13037
16,17,31,Cook County Total Migration-US and Foreign,75362,120942,5228240,97921,179344,8205195,-22559,-58402,-2976955
17,17,33,Crawford County Total Migration-US and Foreign,259,491,11913,296,546,13331,-37,-55,-1418
18,17,35,Cumberland County Total Migration-US and Foreign,222,434,8289,224,413,7754,-2,21,535
19,17,37,DeKalb County Total Migration-US and Foreign,2785,5051,110715,3300,5783,154163,-515,-732,-43448
20,17,39,De Witt County Total Migration-US and Foreign,368,714,16231,375,683,15154,-7,31,1077
21,17,41,Douglas County Total Migration-US and Foreign,443,802,17261,503,995,23003,-60,-193,-5742
22,17,43,DuPage County Total Migration-US and Foreign,25095,47025,1963560,28875,53834,2527935,-3780,-6809,-564375
23,17,45,Edgar County Total Migration-US and Foreign,318,564,10811,322,584,12593,-4,-20,-1782
24,17,47,Edwards County Total Migration-US and Foreign,130,252,4033,111,219,3488,19,33,545
25,17,49,Effingham County Total Migration-US and Foreign,655,1186,28714,733,1333,30847,-78,-147,-2133
26,17,51,Fayette County Total Migration-US and Foreign,288,560,9973,375,728,14315,-87,-168,-4342
27,17,53,Ford County Total Migration-US and Foreign,336,677,14143,386,734,15724,-50,-57,-1581
28,17,55,Franklin County Total Migration-US and Foreign,628,1243,22240,734,1442,27185,-106,-199,-4945
29,17,57,Fulton County Total Migration-US and Foreign,567,1093,20065,626,1089,24513,-59,4,-4448
...,...,...,...,...,...,...,...,...,...,...,...,...
73,17,145,Perry County Total Migration-US and Foreign,338,638,11111,356,654,12226,-18,-16,-1115
74,17,147,Piatt County Total Migration-US and Foreign,445,878,23170,438,789,24199,7,89,-1029
75,17,149,Pike County Total Migration-US and Foreign,249,501,9371,242,471,9339,7,30,32
76,17,151,Pope County Total Migration-US and Foreign,48,96,2123,65,116,2359,-17,-20,-236
77,17,153,Pulaski County Total Migration-US and Foreign,99,214,3262,131,261,3879,-32,-47,-617
78,17,155,Putnam County Total Migration-US and Foreign,124,258,5315,128,206,5291,-4,52,24
79,17,157,Randolph County Total Migration-US and Foreign,457,926,17095,560,1067,24550,-103,-141,-7455
80,17,159,Richland County Total Migration-US and Foreign,281,544,9325,314,597,10139,-33,-53,-814
81,17,161,Rock Island County Total Migration-US and Foreign,2615,4656,116206,3336,6340,162563,-721,-1684,-46357
82,17,163,St. Clair County Total Migration-US and Foreign,5563,11754,322560,6139,12611,323253,-576,-857,-693
83,17,165,Saline County Total Migration-US and Foreign,365,697,13465,425,864,17864,-60,-167,-4399
84,17,167,Sangamon County Total Migration-US and Foreign,3357,6178,159436,4085,7280,228586,-728,-1102,-69150
85,17,169,Schuyler County Total Migration-US and Foreign,110,222,4344,149,301,5217,-39,-79,-873
86,17,171,Scott County Total Migration-US and Foreign,83,144,2876,101,182,3543,-18,-38,-667
87,17,173,Shelby County Total Migration-US and Foreign,486,993,19388,502,947,19493,-16,46,-105
88,17,175,Stark County Total Migration-US and Foreign,104,222,3913,104,182,4515,0,40,-602
89,17,177,Stephenson County Total Migration-US and Foreign,786,1548,31732,833,1538,32688,-47,10,-956
90,17,179,Tazewell County Total Migration-US and Foreign,2817,5382,147523,3043,5742,164608,-226,-360,-17085
91,17,181,Union County Total Migration-US and Foreign,222,446,8001,303,569,11479,-81,-123,-3478
92,17,183,Vermilion County Total Migration-US and Foreign,1037,2019,36421,1314,2598,51357,-277,-579,-14936
93,17,185,Wabash County Total Migration-US and Foreign,160,331,5675,230,415,9036,-70,-84,-3361
94,17,187,Warren County Total Migration-US and Foreign,344,649,12483,418,797,16805,-74,-148,-4322
95,17,189,Washington County Total Migration-US and Foreign,317,616,13081,382,719,13710,-65,-103,-629
96,17,191,Wayne County Total Migration-US and Foreign,229,511,10390,268,576,10387,-39,-65,3
97,17,193,White County Total Migration-US and Foreign,232,493,9651,245,493,8817,-13,0,834
98,17,195,Whiteside County Total Migration-US and Foreign,932,1701,39169,1090,1988,52206,-158,-287,-13037
99,17,197,Will County Total Migration-US and Foreign,16212,33187,1029986,16578,32001,1149742,-366,1186,-119756
100,17,199,Williamson County Total Migration-US and Foreign,1494,2871,66672,1536,2944,74341,-42,-73,-7669
101,17,201,Winnebago County Total Migration-US and Foreign,4848,9277,212385,5324,10115,261851,-476,-838,-49466
102,17,203,Woodford County Total Migration-US and Foreign,944,1919,53660,961,1808,60024,-17,111,-6364

In [10]:
nom_returns = non_migrants[non_migrants.county_code == 1].reset_index().at[0, 'nom_returns']
net_returns = prepped_net[prepped_net.county_code == 1].reset_index().at[0, 'net_returns']

nom_returns / net_returns

-134.86528497409327

In [11]:
prepped_net = prepped_net.merge(
    non_migrants.drop('county', axis=1),
    on=['state_code', 'county_code'],
    how='left'
)

In [12]:
prepped_net.county = prepped_net.county.apply(lambda x: x.replace(" Total Migration-US and Foreign", ""))

prepped_net['weighted_net_returns'] = (prepped_net['net_returns'] / prepped_net['nom_returns'] * 100)

In [13]:
import qgrid

qgrid_widget = qgrid.show_grid(prepped_net)
qgrid_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [14]:
prepped_net.sort_values('weighted_net_returns')

3,state_code,county_code,county,in_returns,in_exemptions,in_agi,out_returns,out_exemptions,out_agi,net_returns,net_exemptions,net_agi,nom_returns,nom_exemptions,nom_agi,weighted_net_returns
2,17,3,Alexander County,85,172,2183,183,381,5007,-98,-209,-2824,2024,4390,83515,-4.8419
39,17,77,Jackson County,1468,2499,44523,2064,3328,71228,-596,-829,-26705,17540,35293,1003589,-3.39795
9,17,17,Cass County,229,449,8362,378,745,13575,-149,-296,-5213,4996,11155,260440,-2.98239
55,17,109,McDonough County,620,1069,20680,818,1370,30219,-198,-301,-9539,9715,19595,551449,-2.03809
33,17,65,Hamilton County,134,297,5860,192,383,8012,-58,-86,-2152,2902,6240,160693,-1.99862
77,17,153,Pulaski County,99,214,3262,131,261,3879,-32,-47,-617,1899,4038,86454,-1.6851
10,17,19,Champaign County,4266,7222,219947,5386,9388,310869,-1120,-2166,-90922,66528,137239,4834261,-1.6835
93,17,185,Wabash County,160,331,5675,230,415,9036,-70,-84,-3361,4298,9298,272568,-1.62866
85,17,169,Schuyler County,110,222,4344,149,301,5217,-39,-79,-873,2583,5311,143888,-1.50987
70,17,139,Moultrie County,289,570,10393,368,684,15004,-79,-114,-4611,5263,11711,339529,-1.50105
72,17,143,Peoria County,3864,7002,220123,4920,9429,336999,-1056,-2427,-116876,70475,148484,5349998,-1.4984
19,17,37,DeKalb County,2785,5051,110715,3300,5783,154163,-515,-732,-43448,35029,76746,2386005,-1.47021
15,17,29,Coles County,1016,1798,40582,1257,2152,53619,-241,-354,-13037,16710,33973,1027482,-1.44225
31,17,61,Greene County,191,362,6292,258,512,10281,-67,-150,-3989,4668,10018,231894,-1.4353
57,17,113,McLean County,3485,6168,183406,4303,7862,279136,-818,-1694,-95730,60901,132803,4987134,-1.34316
76,17,151,Pope County,48,96,2123,65,116,2359,-17,-20,-236,1311,2715,64704,-1.29672
91,17,181,Union County,222,446,8001,303,569,11479,-81,-123,-3478,6279,13374,346261,-1.29001
36,17,71,Henderson County,114,212,5279,148,284,5977,-34,-72,-698,2680,5461,142911,-1.26866
81,17,161,Rock Island County,2615,4656,116206,3336,6340,162563,-721,-1684,-46357,57142,116967,3435008,-1.26177
69,17,137,Morgan County,614,1134,24290,772,1409,29297,-158,-275,-5007,12673,25555,760851,-1.24675
5,17,9,Brown County,68,118,2779,91,165,3487,-23,-47,-708,1892,3914,104250,-1.21564
26,17,51,Fayette County,288,560,9973,375,728,14315,-87,-168,-4342,7367,15930,384494,-1.18094
58,17,115,Macon County,1568,3042,72191,2030,3813,117296,-462,-771,-45105,39713,82103,2490340,-1.16335
94,17,187,Warren County,344,649,12483,418,797,16805,-74,-148,-4322,6385,13762,350089,-1.15897
95,17,189,Washington County,317,616,13081,382,719,13710,-65,-103,-629,5647,11971,367110,-1.15105
16,17,31,Cook County,75362,120942,5228240,97921,179344,8205195,-22559,-58402,-2976955,2018982,4233915,170336491,-1.11735
53,17,105,Livingston County,619,1188,23634,772,1338,28371,-153,-150,-4737,13729,28637,868102,-1.11443
22,17,43,DuPage County,25095,47025,1963560,28875,53834,2527935,-3780,-6809,-564375,359841,817057,40656069,-1.05046
46,17,91,Kankakee County,1687,3255,74158,2109,3939,94899,-422,-684,-20741,40346,87943,2454150,-1.04595
42,17,83,Jersey County,442,857,19435,525,994,23770,-83,-137,-4335,8058,17354,489844,-1.03003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,17,119,Madison County,4845,9104,228596,5165,9644,254545,-320,-540,-25949,99715,209274,6819578,-0.320915
41,17,81,Jefferson County,663,1262,26340,704,1331,30979,-41,-69,-4639,13450,28623,738749,-0.304833
37,17,73,Henry County,1032,1995,53832,1089,1993,51957,-57,2,1875,19375,41725,1283305,-0.294194
65,17,129,Menard County,308,605,15101,322,581,16095,-14,24,-994,4857,10407,346181,-0.288244
89,17,177,Stephenson County,786,1548,31732,833,1538,32688,-47,10,-956,18194,37409,996354,-0.258327
73,17,145,Perry County,338,638,11111,356,654,12226,-18,-16,-1115,7135,15065,376109,-0.252278
97,17,193,White County,232,493,9651,245,493,8817,-13,0,834,5247,11233,299339,-0.247761
6,17,11,Bureau County,712,1394,28413,745,1376,35301,-33,18,-6888,13376,27849,816170,-0.246711
87,17,173,Shelby County,486,993,19388,502,947,19493,-16,46,-105,8192,17495,463497,-0.195312
100,17,199,Williamson County,1494,2871,66672,1536,2944,74341,-42,-73,-7669,23843,50766,1406079,-0.176152
78,17,155,Putnam County,124,258,5315,128,206,5291,-4,52,24,2343,4798,156571,-0.170721
59,17,117,Macoupin County,953,1892,37874,981,1821,38369,-28,71,-495,16829,35755,993519,-0.166379
99,17,197,Will County,16212,33187,1029986,16578,32001,1149742,-366,1186,-119756,250929,594195,21411505,-0.145858
102,17,203,Woodford County,944,1919,53660,961,1808,60024,-17,111,-6364,14240,33086,1234266,-0.119382
34,17,67,Hancock County,385,777,15179,393,763,18825,-8,14,-3646,7043,14895,392488,-0.113588
20,17,39,De Witt County,368,714,16231,375,683,15154,-7,31,1077,6183,12955,388440,-0.113214
12,17,23,Clark County,290,569,11767,295,533,9928,-5,36,1839,6043,13032,345644,-0.0827404
23,17,45,Edgar County,318,564,10811,322,584,12593,-4,-20,-1782,6529,13596,359295,-0.0612651
18,17,35,Cumberland County,222,434,8289,224,413,7754,-2,21,535,3925,8646,213537,-0.0509554
88,17,175,Stark County,104,222,3913,104,182,4515,0,40,-602,2142,4618,131911,0
51,17,101,Lawrence County,262,506,9238,260,530,10014,2,-24,-776,5140,10889,264653,0.0389105
7,17,13,Calhoun County,51,101,1902,50,97,2097,1,4,-195,1738,3848,104332,0.0575374
74,17,147,Piatt County,445,878,23170,438,789,24199,7,89,-1029,6288,13837,470048,0.111323
75,17,149,Pike County,249,501,9371,242,471,9339,7,30,32,5667,12283,287779,0.123522
67,17,133,Monroe County,746,1463,56944,715,1265,55021,31,198,1923,13275,29818,1154601,0.233522
47,17,93,Kendall County,4324,9206,264917,4017,8207,274359,307,999,-9442,42267,105686,3523313,0.726335
62,17,123,Marshall County,329,628,13258,294,532,13690,35,96,-432,4807,9897,290527,0.728105
24,17,47,Edwards County,130,252,4033,111,219,3488,19,33,545,2364,5231,131502,0.803723
44,17,87,Johnson County,301,622,13076,210,408,9277,91,214,3799,3971,8599,218858,2.29161
0,17,0,Total Migration-US and Foreign,237975,435119,15066576,281076,522956,19908754,-43101,-87837,-4842178,NaN,NaN,NaN,NaN