In [1]:
# load dependencies and prepare cache

import re
import requests
import requests_cache
# from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from io import BytesIO

requests_cache.install_cache()

In [2]:
r = requests.get('https://www.irs.gov/pub/irs-soi/stateoutflow1516.csv')

pd_options = {
#     'sheet_name': f'State {direction.capitalize()}flow',
#     'header': None,
#     'dtype': 'object'
}

with BytesIO(r.content) as fh:
    df = pd.read_csv(fh, **pd_options)
    
out_df = df[(df.y1_statefips == 17) & (~df.y2_state_name.str.contains('IL'))]
out_df = out_df[['y2_statefips', 'y2_state', 'y2_state_name', 'n1']]
out_df.rename(columns={'y2_statefips': 'fips', 'y2_state': 'state', 'y2_state_name': 'state_name', 'n1': 'outflow'}, inplace=True)
out_df.reset_index(drop=True, inplace=True)
out_df

    fips state            state_name  outflow
0     12    FL               Florida    12568
1      6    CA            California    12212
2     18    IN               Indiana    11011
3     48    TX                 Texas    10925
4     55    WI             Wisconsin     9573
5     29    MO              Missouri     7813
6      4    AZ               Arizona     5699
7     26    MI              Michigan     5302
8      8    CO              Colorado     5082
9     19    IA                  Iowa     4906
10    13    GA               Georgia     4185
11    36    NY              New York     4008
12    47    TN             Tennessee     3768
13    39    OH                  Ohio     3438
14    37    NC        North Carolina     3314
15    57    FR               Foreign     2927
16    53    WA            Washington     2902
17    27    MN             Minnesota     2750
18    51    VA              Virginia     2446
19    21    KY              Kentucky     1888
20    32    NV                Nevada     1842
21    42    PA          Pennsylvania     1785
22    25    MA         Massachusetts     1609
23    45    SC        South Carolina     1512
24    34    NJ            New Jersey     1397
25    41    OR                Oregon     1351
26    24    MD              Maryland     1225
27     1    AL               Alabama     1131
28     5    AR              Arkansas     1039
29    20    KS                Kansas      937
30    22    LA             Louisiana      851
31    40    OK              Oklahoma      840
32    28    MS           Mississippi      817
33    31    NE              Nebraska      657
34    11    DC  District Of Columbia      653
35     9    CT           Connecticut      626
36    49    UT                  Utah      617
37    35    NM            New Mexico      575
38    15    HI                Hawaii      520
39    16    ID                 Idaho      338
40    30    MT               Montana      291
41    38    ND          North Dakota      284
42    46    SD          South Dakota      278
43     2    AK                Alaska      248
44    56    WY               Wyoming      190
45    33    NH         New Hampshire      185
46    23    ME                 Maine      177
47    54    WV         West Virginia      173
48    44    RI          Rhode Island      168
49    10    DE              Delaware      159
50    50    VT               Vermont      110

In [3]:
r = requests.get('https://www.irs.gov/pub/irs-soi/stateinflow1516.csv')

pd_options = {
#     'sheet_name': f'State {direction.capitalize()}flow',
#     'header': None,
#     'dtype': 'object'
}

with BytesIO(r.content) as fh:
    df = pd.read_csv(fh, **pd_options)

in_df = df[(df.y2_statefips == 17) & (~df.y1_state_name.str.contains('IL'))]
in_df = in_df[['y1_statefips', 'y1_state', 'y1_state_name', 'n1']]
in_df.rename(columns={'y1_statefips': 'fips', 'y1_state': 'state', 'y1_state_name': 'state_name', 'n1': 'inflow'}, inplace=True)
in_df.reset_index(drop=True, inplace=True)
in_df

    fips state            state_name  inflow
0     18    IN               Indiana    7801
1      6    CA            California    7334
2     48    TX                 Texas    6941
3     55    WI             Wisconsin    6666
4     29    MO              Missouri    6521
5     12    FL               Florida    6110
6     26    MI              Michigan    4603
7     19    IA                  Iowa    4125
8     36    NY              New York    4067
9     39    OH                  Ohio    3457
10     4    AZ               Arizona    2478
11    13    GA               Georgia    2448
12    51    VA              Virginia    2205
13    27    MN             Minnesota    2205
14     8    CO              Colorado    2108
15    42    PA          Pennsylvania    2041
16    37    NC        North Carolina    2011
17    47    TN             Tennessee    1971
18    57    FR               Foreign    1791
19    25    MA         Massachusetts    1601
20    34    NJ            New Jersey    1521
21    53    WA            Washington    1512
22    21    KY              Kentucky    1415
23    24    MD              Maryland    1150
24    20    KS                Kansas     963
25    32    NV                Nevada     962
26     5    AR              Arkansas     818
27    45    SC        South Carolina     792
28    22    LA             Louisiana     726
29    40    OK              Oklahoma     711
30     1    AL               Alabama     695
31     9    CT           Connecticut     671
32    11    DC  District Of Columbia     627
33    28    MS           Mississippi     625
34    31    NE              Nebraska     613
35    41    OR                Oregon     577
36    15    HI                Hawaii     409
37    49    UT                  Utah     398
38    35    NM            New Mexico     386
39    38    ND          North Dakota     311
40    54    WV         West Virginia     207
41    33    NH         New Hampshire     199
42    16    ID                 Idaho     196
43     2    AK                Alaska     196
44    46    SD          South Dakota     190
45    44    RI          Rhode Island     175
46    10    DE              Delaware     163
47    30    MT               Montana     154
48    56    WY               Wyoming     134
49    23    ME                 Maine     115
50    50    VT               Vermont     106

In [6]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from gspread_dataframe import get_as_dataframe, set_with_dataframe

SHEET = '1DHcOoRlw1co3s3it6Wkl9tXtk3EJITrwpMovrvkVOT8'

scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

credentials = ServiceAccountCredentials.from_json_keyfile_name('/Users/pjudge/.credentials/BGA Graphics-3edf4552f3a5.json', scope)

gc = gspread.authorize(credentials)

worksheet = gc.open_by_key(SHEET).worksheet('data')

def blank_out_worksheet(worksheet):
    """
    totally blank out worksheet
    """
    from gspread_dataframe import get_as_dataframe, set_with_dataframe
    
    zeroed_df = get_as_dataframe(worksheet)
    
    # set vals to null
    zeroed_df[:] = np.nan
    
    # set cols to null
    zeroed_df.rename(columns=lambda x: np.nan, inplace=True)
    
    # set worksheet to blank dataframe
    set_with_dataframe(worksheet, zeroed_df)
    
df_out = out_df.merge(in_df, on=['fips', 'state', 'state_name'])
df_out.fips = df_out.fips.astype(str).str.zfill(2)

blank_out_worksheet(worksheet)
set_with_dataframe(worksheet, df_out)