In [1]:
# compile structure for irs soi data
# https://www.irs.gov/statistics/soi-tax-stats-historic-table-2

import re
import requests
import requests_cache
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

requests_cache.install_cache()

result = requests.get('https://www.irs.gov/statistics/soi-tax-stats-historic-table-2')
assert result.status_code == 200
c = result.content

soup = BeautifulSoup(c)
state_links = soup.find('table').find_all('a')

CACHED_DFS = {}

state_refs = []

for a in state_links:
    state_dict = {}
    
    state_dict['name'] = a.string.strip()
    
    groups = re.search('\d\din(?P<id>\d\d)(?P<abbrev>\w\w)', a.attrs['href'])
    state_dict.update(groups.groupdict())
    
    state_refs.append(state_dict)
    
df_state_refs = pd.DataFrame(state_refs).sort_values('id').reset_index(drop=True)

display(df_state_refs)

   abbrev  id                    name
0      al  01                 Alabama
1      ak  02                  Alaska
2      az  03                 Arizona
3      ar  04                Arkansas
4      ca  05              California
5      co  06                Colorado
6      ct  07             Connecticut
7      de  08                Delaware
8      dc  09    District of Columbia
9      fl  10                 Florida
10     ga  11                 Georgia
11     hi  12                  Hawaii
12     id  13                   Idaho
13     il  14                Illinois
14     in  15                 Indiana
15     ia  16                    Iowa
16     ks  17                  Kansas
17     ky  18                Kentucky
18     la  19               Louisiana
19     me  20                   Maine
20     md  21                Maryland
21     ma  22           Massachusetts
22     mi  23                Michigan
23     mn  24               Minnesota
24     ms  25             Mississippi
25     mo  26                Missouri
26     mt  27                 Montana
27     ne  28                Nebraska
28     nv  29                  Nevada
29     nh  30           New Hampshire
30     nj  31              New Jersey
31     nm  32              New Mexico
32     ny  33                New York
33     nc  34          North Carolina
34     nd  35            North Dakota
35     oh  36                    Ohio
36     ok  37                Oklahoma
37     or  38                  Oregon
38     pa  39            Pennsylvania
39     ri  40            Rhode Island
40     sc  41          South Carolina
41     sd  42            South Dakota
42     tn  43               Tennessee
43     tx  44                   Texas
44     ut  45                    Utah
45     vt  46                 Vermont
46     va  47                Virginia
47     wa  48              Washington
48     wv  49           West Virginia
49     wi  50               Wisconsin
50     wy  51                 Wyoming
51     oa  52             Other Areas
52     us  53           United States
53     cm  54  Total File, All States

In [152]:
from requests import Session
from urllib.parse import urljoin

class LiveServerSession(Session):
    def __init__(self, prefix_url=None, *args, **kwargs):
        super(LiveServerSession, self).__init__(*args, **kwargs)
        self.prefix_url = prefix_url

    def request(self, method, url, *args, **kwargs):
        url = urljoin(self.prefix_url, url)
        return super(LiveServerSession, self).request(method, url, *args, **kwargs)

def lookup_state(key, val):
    df = df_state_refs
    condition = df[key] == val
    state_info = df[condition].to_dict(orient='records')[0]
    return state_info

def get_soi_data(lookup, year):
    state_info = lookup_state(*lookup)
    filename = "{}in{}{}".format(
        str(year)[2:],
        state_info['id'],
        state_info['abbrev']
    )
    pattern = r'{}\.(xlsx?|zip)'.format(filename)
    url = soup.find('a', href=re.compile(pattern)).attrs['href']
    baseUrl = 'https://www.irs.gov'
        
    try:
        with LiveServerSession(baseUrl) as s:
            r = s.get(url)
        assert r.status_code == 200
    except:
        raise
        
    return r

def get_soi_df(lookup, year):
    '''
    get cumulative data as df given lookup and year
    '''
    from io import BytesIO
    from zipfile import ZipFile
    import itertools
    
    r = get_soi_data(lookup, year)
    
    print(r.url)
    
    if ((lookup, year) in CACHED_DFS):
        return CACHED_DFS[(lookup, year)]
    
    pd_options = {
        'header': None
    }
    
    if '.xls' in r.url:
        with BytesIO(r.content) as fh:
            df = pd.read_excel(fh, **pd_options)
    
    elif '.zip' in r.url:
        with ZipFile(BytesIO(r.content)) as my_zipfile:
            for file in my_zipfile.namelist():
                with my_zipfile.open(file) as fh:
                    df = pd.read_excel(fh, **pd_options)
    
    CACHED_DFS[(lookup, year)] = df
    
    return df

In [286]:
def get_indices(df):
    from collections import defaultdict

    iterator = df.iterrows()
    indices = defaultdict(lambda: None)

    while not np.all([indices[k] for k in ['place', 'amt']]):
        idx, row = next(iterator)

        if row.str.contains('alabama', flags=re.IGNORECASE).any() and not indices['place']:
            indices['place'] = idx

        if row.apply(str).str.contains('100,?000').any() and not indices['amt']:
            indices['amt'] = idx

    return dict(indices)

def format_soi_df(df):
    import numpy as np

    my_df = df.copy()
        
    # identity target rows for indexing
    indices = get_indices(my_df)

    # fill null holes in columns for multiindexing
    my_df.loc[indices['place']].fillna(method='ffill', inplace=True)
    my_df.loc[indices['place']].fillna('', inplace=True)
    my_df.loc[indices['place']] = my_df.loc[indices['place']].str.strip()
    my_df.loc[indices['amt']].fillna('All returns', inplace=True)
    
    def format_column(x):
        if isinstance(x, float) and np.isnan(x):
            return x
        elif isinstance(x, str) and 'Under' in x:
            x = '0'
        elif isinstance(x, str) and 'Breakeven' in x:
            x = '0'
        elif isinstance(x, str) and 'All' in x:
            x = '-1'
        else:
            x = str(x)

        try:
            return float(x.split()[0].replace('$', '').replace(',', ''))
        except:
            return x.split()[0]

    my_df.loc[indices['amt']] = my_df.loc[indices['amt']].apply(format_column)

    # drop rows with any null values in arbitrary range – we don't need these anymore
    my_df = my_df[~my_df.iloc[:, 1:4].isnull().any(axis=1)]
    
    # get rid of footnotes in data
    my_df.replace('\s*\[\d+\]', '', regex=True, inplace=True)

    # set indices
    my_df = my_df.transpose().set_index([*indices.values()])
    my_df.index.set_names([*indices.keys()], inplace=True)

    # set columns
    my_df.columns = my_df.iloc[0]
    my_df = my_df.iloc[1:]
    my_df.columns.rename('Item', inplace=True)
    
    my_df = my_df[my_df.iloc[:, 3] != my_df.columns[3]] # drop rows that match header

    return my_df

In [247]:
def realign_tables(df):
    
    
    new_starts = df[df.iloc[:, 0].str.contains('^Table 2.', flags=re.IGNORECASE, na=False)].index
    
    if not new_starts.any():
        new_starts = df[df.iloc[:, 0].str.contains('^Tax Year 200', flags=re.IGNORECASE, na=False)].index
    
    new_starts = new_starts.drop(0)
    
    if(new_starts.any()):
        dfs = []
        iterator = iter(new_starts.values)
        
        curr = 0
        
#         dfs.append(df.loc[:(new_starts.values[0] - 1), 0])
        
        for next_val in new_starts.values:
            start = curr
            curr = next_val
            
            dfs.append(df.loc[start:(curr-1), :].reset_index(drop=True))
        
        dfs.append(df.loc[curr:, :].reset_index(drop=True))
        
        concat = pd.concat(dfs, axis=1, ignore_index=True)
        
        # begone null columns
        concat = concat.loc[:, ~concat.isnull().all()]
        
        return concat
        
    else:
        
        return df

In [289]:
import os

for year in range(2005, 1999, -1):
    print(datetime.datetime.now(), year, 'Fetching data')
    df = get_soi_df(('abbrev', 'cm'), year)
    print(datetime.datetime.now(), year, 'Realigning data')
    df = realign_tables(df)
    
#     display(df.head(n=20))
    
#     df.to_csv('sample.csv')
    
    print(datetime.datetime.now(), year, 'Formatting data')
    
    if os.path.isfile(f'./working/{year}.csv'):
        df = pd.read_csv(f'./working/{year}.csv', index_col=0, header=0)
    
    my_df = format_soi_df(df)
#     print()
    display(my_df.head(n=10))

2019-03-25 18:54:45.552109 2005 Fetching data
https://www.irs.gov/pub/irs-soi/05in54cm.xls
2019-03-25 18:54:45.576384 2005 Realigning data
2019-03-25 18:54:45.585121 2005 Formatting data

Item                                                                   NaN     \
place         amt
UNITED STATES -1.0                                                          1
               0.0                                                          2
               50000.0                                          Size of...  3
               75000.0                                                 NaN  4
               100000.0                                                     5
               200000.0                                                     6
ALABAMA       -1.0                                                          1
               0.0                                                          2
               50000.0                               Size of adjusted g...  3
               75000.0                                                 NaN  4

Item                    Number of returns Number of joint returns  \
place         amt
UNITED STATES -1.0              135257620                52607676
               0.0               92150166                20743943
               50000.0           18221115                11329459
               75000.0           10499106                 8296546
               100000.0          10797979                 9193700
               200000.0           3589254                 3044028
ALABAMA       -1.0                1955914                  774753
               0.0                1428663                  348843
               50000.0             240191                  172740
               75000.0             134090                  115859

Item                    Number with paid preparer's signature  \
place         amt
UNITED STATES -1.0                                   80455243
               0.0                                   53622647
               50000.0                               11025624
               75000.0                                6260725
               100000.0                               6678965
               200000.0                               2867282
ALABAMA       -1.0                                    1272190
               0.0                                     930445
               50000.0                                 155834
               75000.0                                  82891

Item                    Number of exemptions Adjusted gross income (AGI)  \
place         amt
UNITED STATES -1.0                 273738434                  7364640131
               0.0                 159649737                  1797097083
               50000.0              44189517                  1119634632
               75000.0              28555195                   905336768
               100000.0             30919226                  1429575727
               200000.0             10424759                  2112995921
ALABAMA       -1.0                   4093805                    88628735
               0.0                   2670264                    27817732
               50000.0                608134                    14753559
               75000.0                374372                    11540510

Item                    Salaries and wages in AGI: Number      Amount  \
place         amt
UNITED STATES -1.0                              114060887  5161583318
               0.0                               75422766  1541276272
               50000.0                           16299827   896339313
               75000.0                            9520214   721137490
               100000.0                           9782173  1083175205
               200000.0                           3035907   919655038
ALABAMA       -1.0                                1681957    63539055
               0.0                                1206816    23832322
               50000.0                             216466    11901075
               75000.0                             122474     9271611

Item                    Taxable interest:  Number     ...      \
place         amt                                     ...
UNITED STATES -1.0                       59553985     ...
               0.0                       28527550     ...
               50000.0                   10891905     ...
               75000.0                    7636612     ...
               100000.0                   9092673     ...
               200000.0                   3405245     ...
ALABAMA       -1.0                         673334     ...
               0.0                         330827     ...
               50000.0                     125656     ...
               75000.0                      89402     ...

Item                    Alternative minimum tax:  Number    Amount  \
place         amt
UNITED STATES -1.0                               4067599  17269976
               0.0                                 71712    184961
               50000.0                            121078    146147
               75000.0                            192041    270330
               100000.0                          1481073   2742842
               200000.0                          2201695  13925696
ALABAMA       -1.0                                 20554     82862
               0.0                                   457      2183
               50000.0                              1084      1253
               75000.0                              1316      1999

Item                    Income tax: Number     Amount  \
place         amt
UNITED STATES -1.0                92646159  938184168
               0.0                50596829   88375052
               50000.0            17341394   92532758
               75000.0            10368748   87117677
               100000.0           10757520  190475859
               200000.0            3581668  479682823
ALABAMA       -1.0                 1232291    9842713
               0.0                  714132    1152021
               50000.0              232485    1187182
               75000.0              133112    1120709

Item                    Total tax liability: Number     Amount  \
place         amt
UNITED STATES -1.0                        100222174  989191350
               0.0                         57868419  105786470
               50000.0                     17587865   99360874
               75000.0                     10410537   92573567
               100000.0                    10771544  200393602
               200000.0                     3583809  491076838
ALABAMA       -1.0                          1351998   10434751
               0.0                           831236    1383653
               50000.0                       234585    1269166
               75000.0                       133456    1182492

Item                    Tax due at time of filing: Number     Amount  \
place         amt
UNITED STATES -1.0                               25495750  117979278
               0.0                               12612333   12413009
               50000.0                            4249962    8724802
               75000.0                            2643935    7544529
               100000.0                           4014472   20657387
               200000.0                           1975048   68639552
ALABAMA       -1.0                                 317518    1516820
               0.0                                 156445     151001
               50000.0                              56051     111451
               75000.0                              35136      95606

Item                    Overpayments: Number      Amount
place         amt
UNITED STATES -1.0                 102297909  -235357330
               0.0                  74147484  -130883069
               50000.0              13466925   -36846281
               75000.0               7498704   -25452383
               100000.0              6184721   -26730572
               200000.0              1000075   -15445026
ALABAMA       -1.0                   1556618    -3682094
               0.0                   1211557    -2526388
               50000.0                178681     -471338
               75000.0                 94990     -301912

[10 rows x 64 columns]

2019-03-25 18:54:45.691183 2004 Fetching data
https://www.irs.gov/pub/irs-soi/04in54cm.xls
2019-03-25 18:54:45.716889 2004 Realigning data
2019-03-25 18:54:45.725197 2004 Formatting data

Item                                                                   NaN     \
place         amt
UNITED STATES -1.0                                                          1
               0.0                                                          2
               50000.0                                          Size of...  3
               75000.0                                                 NaN  4
               100000.0                                                     5
               200000.0                                                     6
ALABAMA       -1.0                                                          1
               0.0                                                          2
               50000.0                               Size of adjusted g...  3
               75000.0                                                 NaN  4

Item                    Number of returns Number of joint returns  \
place         amt
UNITED STATES -1.0              133092565                52225721
               0.0               92277037                21593939
               50000.0           17922902                11513644
               75000.0           10015637                 8063363
               100000.0           9815321                 8438738
               200000.0           3061668                 2616037
ALABAMA       -1.0                1910403                  768809
               0.0                1416612                  364035
               50000.0             234243                  173791
               75000.0             125827                  110195

Item                    Number with paid preparer's signature  \
place         amt
UNITED STATES -1.0                                   78125181
               0.0                                   53216912
               50000.0                               10700352
               75000.0                                5872471
               100000.0                               5946200
               200000.0                               2389246
ALABAMA       -1.0                                    1224390
               0.0                                     909501
               50000.0                                 150198
               75000.0                                  76742

Item                    Number of exemptions Adjusted gross income (AGI)  \
place         amt
UNITED STATES -1.0                 269662776                  6745101602
               0.0                 160217108                  1788706363
               50000.0              44303111                  1100740167
               75000.0              27732581                   862762850
               100000.0             28429329                  1294760029
               200000.0              8980647                  1698132194
ALABAMA       -1.0                   4006258                    80884836
               0.0                   2658350                    27332223
               50000.0                603145                    14380699
               75000.0                355931                    10814201

Item                    Salaries and wages in AGI: Number      Amount  \
place         amt
UNITED STATES -1.0                              112534497  4917551535
               0.0                               75627439  1533846536
               50000.0                           16166931   891303503
               75000.0                            9169619   699009194
               100000.0                           8962650   999027855
               200000.0                           2607858   794364445
ALABAMA       -1.0                                1644807    60102429
               0.0                                1196770    23361825
               50000.0                             212474    11724325
               75000.0                             115699     8797915

Item                    Taxable interest:  Number     ...      \
place         amt                                     ...
UNITED STATES -1.0                       57737605     ...
               0.0                       28707688     ...
               50000.0                   10674598     ...
               75000.0                    7253908     ...
               100000.0                   8210418     ...
               200000.0                   2890993     ...
ALABAMA       -1.0                         660359     ...
               0.0                         338944     ...
               50000.0                     125223     ...
               75000.0                      85036     ...

Item                    Alternative Minimum Tax:  Number    Amount  \
place         amt
UNITED STATES -1.0                               3146323  12895393
               0.0                                 47856    136863
               50000.0                             98603    117781
               75000.0                            152080    217788
               100000.0                          1112316   2085226
               200000.0                          1735468  10337735
ALABAMA       -1.0                                 14056     56239
               0.0                                   367       938
               50000.0                               792       990
               75000.0                               913      1527

Item                    Income tax: Number     Amount  \
place         amt
UNITED STATES -1.0                91150187  832385003
               0.0                51183952   90089999
               50000.0            17195137   92285650
               75000.0             9922579   84826602
               100000.0            9789959  175957351
               200000.0            3058560  389225401
ALABAMA       -1.0                 1200871    8606520
               0.0                  713835    1153204
               50000.0              228362    1174718
               75000.0              125195    1076719

Item                    Total tax liability: Number     Amount  \
place         amt
UNITED STATES -1.0                         98477636  879938123
               0.0                         58262887  107208602
               50000.0                     17401619   98951188
               75000.0                      9953464   89983669
               100000.0                     9799984  184981959
               200000.0                     3059682  398812705
ALABAMA       -1.0                          1317118    9153744
               0.0                           828044    1378721
               50000.0                       230087    1252918
               75000.0                       125410    1134103

Item                    Tax due at time of filing: Number    Amount  \
place         amt
UNITED STATES -1.0                               24058400  99126978
               0.0                               12230696  11921055
               50000.0                            4093296   8099606
               75000.0                            2477947   6838542
               100000.0                           3619280  17889342
               200000.0                           1637181  54378433
ALABAMA       -1.0                                 300911   1206589
               0.0                                 153981    144024
               50000.0                              53960    102904
               75000.0                              32890     85963

Item                    Overpayments: Number      Amount
place         amt
UNITED STATES -1.0                 101423316  -223591997
               0.0                  74446473  -127204417
               50000.0              13285164   -35418444
               75000.0               7174722   -23768796
               100000.0              5626313   -24012692
               200000.0               890644   -13187648
ALABAMA       -1.0                   1525679    -3454587
               0.0                   1199921    -2402582
               50000.0                174169     -447497
               75000.0                 88886     -274469

[10 rows x 64 columns]

2019-03-25 18:54:45.833942 2003 Fetching data
https://www.irs.gov/pub/irs-soi/03in54cm.xls
2019-03-25 18:54:45.856234 2003 Realigning data
2019-03-25 18:54:45.888276 2003 Formatting data

Item                 Number of returns Number of joint returns  \
place   amt
ALABAMA -1.0       1           1883765                  765108
         0.0       2           1088495                  216612
         30000.0   3            332057                  163006
         50000.0   4            229168                  175583
         75000.0   5            117246                  103678
         100000.0  6             92505                   84501
         200000.0  7             24294                   21728
ALASKA  -1.0       1            343032                  120116
         0.0       2            178298                   19740
         30000.0   3             59411                   21401

Item              Number with paid preparer's signature Number of exemptions  \
place   amt
ALABAMA -1.0                                    1233389              3955727
         0.0                                     714354              1933049
         30000.0                                 218737               746319
         50000.0                                 149489               600134
         75000.0                                  72346               333786
         100000.0                                 57900               270018
         200000.0                                 20563                72421
ALASKA  -1.0                                     170354               644384
         0.0                                      81895               233781
         30000.0                                  29659               124363

Item              Adjusted gross income (AGI)  \
place   amt
ALABAMA -1.0                         74842665
         0.0                         14335594
         30000.0                     12931107
         50000.0                     14052671
         75000.0                     10063119
         100000.0                    12021949
         200000.0                    11438224
ALASKA  -1.0                         14832589
         0.0                          1893925
         30000.0                      2333676

Item              Salaries and wages in AGI: Number    Amount  \
place   amt
ALABAMA -1.0                                1623767  57175727
         0.0                                 903091  12369967
         30000.0                             298511  10783225
         50000.0                             208667  11511838
         75000.0                             108151   8228188
         100000.0                             84694   9070679
         200000.0                             20653   5211831
ALASKA  -1.0                                 276580  10998285
         0.0                                 126336   1578062
         30000.0                              53989   1920018

Item              Taxable interest:  Number   Amount    ...     Number  \
place   amt                                             ...
ALABAMA -1.0                         678245  1403119    ...     441153
         0.0                         233923   338816    ...     429515
         30000.0                     129238   178162    ...      11638
         50000.0                     131522   189683    ...          0
         75000.0                      83768   136549    ...          0
         100000.0                     76751   198829    ...          0
         200000.0                     23043   361080    ...          0
ALASKA  -1.0                         157975   215482    ...      32712
         0.0                          53300    32628    ...      30913
         30000.0                      27297    23195    ...       1799

Item               Amount Income tax: Number   Amount  \
place   amt
ALABAMA -1.0       891981            1211116  7896942
         0.0       886806             452676   397106
         30000.0     5175             298585   816275
         50000.0        0             226341  1201958
         75000.0        0             116895  1048888
         100000.0       0              92359  1709619
         200000.0       0              24260  2723095
ALASKA  -1.0        50657             277302  1795993
         0.0        49864             119726    82847
         30000.0      791              53273   175855

Item              Total tax liability: Number   Amount  \
place   amt
ALABAMA -1.0                          1317119  8396882
         0.0                           550457   540628
         30000.0                       305745   888101
         50000.0                       227209  1274943
         75000.0                       117021  1099886
         100000.0                       92415  1795590
         200000.0                       24272  2797732
ALASKA  -1.0                           288599  1916777
         0.0                           129011   103071
         30000.0                        54921   192910

Item              Tax due at time of filing: Number  Amount  \
place   amt
ALABAMA -1.0                                 263440  868834
         0.0                                  95776   67139
         30000.0                              52542   69690
         50000.0                              46969   87992
         75000.0                              25796   70692
         100000.0                             31238  166562
         200000.0                             11119  406759
ALASKA  -1.0                                  90408  190153
         0.0                                  52339   16243
         30000.0                              10726   17342

Item              Overpayments: Number    Amount
place   amt
ALABAMA -1.0                   1533477  -3340011
         0.0                    936546  -1738737
         30000.0                272033   -543134
         50000.0                175114   -430889
         75000.0                 86772   -265545
         100000.0                54760   -223577
         200000.0                 8252   -138129
ALASKA  -1.0                    234629   -489812
         0.0                    114797   -150068
         30000.0                 47323    -92666

[10 rows x 59 columns]

2019-03-25 18:54:46.049644 2002 Fetching data
https://www.irs.gov/pub/irs-soi/02in54cm.xls
2019-03-25 18:54:46.075779 2002 Realigning data
2019-03-25 18:54:46.115405 2002 Formatting data

Item                                               NaN    Number of returns  \
place         amt
UNITED STATES -1.0                                      1         130836098
               0.0                                      2          50248794
               20000.0                                  3          18650546
               30000.0                             NaN  4          24319476
               50000.0   Size of adjusted gross income  5          17628351
               75000.0                             NaN  6           9129894
               100000.0                                 7           8391951
               200000.0                                 8           2467086
ALABAMA       -1.0                                      1           1882572
               0.0                                      2            816584

Item                    Number of joint returns  \
place         amt
UNITED STATES -1.0                     51477158
               0.0                      7387934
               20000.0                  5090957
               30000.0                 10095791
               50000.0                 11977409
               75000.0                  7511701
               100000.0                 7285992
               200000.0                 2127374
ALABAMA       -1.0                       766190
               0.0                       132892

Item                    Number with paid preparer's signature  \
place         amt
UNITED STATES -1.0                                   74832886
               0.0                                   27881024
               20000.0                               10746359
               30000.0                               13864118
               50000.0                               10272065
               75000.0                                5203512
               100000.0                               4962840
               200000.0                               1902968
ALABAMA       -1.0                                    1176133
               0.0                                     504101

Item                    Number of exemptions Adjusted gross income (AGI)  \
place         amt
UNITED STATES -1.0                 263875135                  6015047033
               0.0                  73922834                   385367487
               20000.0              36043469                   461857601
               30000.0              51514627                   950261330
               50000.0              44818405                  1081036334
               75000.0              25737602                   784946802
               100000.0             24515756                  1103520609
               200000.0              7322442                  1248056881
ALABAMA       -1.0                   3938787                    72426176
               0.0                   1357965                     7373588

Item                    Salaries and wages in AGI:  Number      Amount  \
place         amt
UNITED STATES -1.0                               111008171  4562427437
               0.0                                38751335   373560036
               20000.0                            16246786   376820992
               30000.0                            21797281   785529009
               50000.0                            16000889   881900609
               75000.0                             8400593   642597210
               100000.0                            7681868   857977162
               200000.0                            2129419   644042424
ALABAMA       -1.0                                 1626700    55649850
               0.0                                  666992     6607426

Item                    Taxable interest:  Number    ...        Number  \
place         amt                                    ...
UNITED STATES -1.0                       63533259    ...      18667041
               0.0                       15306787    ...      13805496
               20000.0                    6728241    ...       4330873
               30000.0                   12259018    ...        530672
               50000.0                   12082373    ...             0
               75000.0                    7340021    ...             0
               100000.0                   7452556    ...             0
               200000.0                   2364263    ...             0
ALABAMA       -1.0                         736849    ...        431673
               0.0                         179627    ...        332712

Item                       Amount Income tax:   Number     Amount  \
place         amt
UNITED STATES -1.0       33257814             93923947  798633935
               0.0       27148419             19685790   10536472
               20000.0    5897804             14549855   22809368
               30000.0     211596             22383829   70512619
               50000.0          0             17371314  103015925
               75000.0          0              9093056   92759077
               100000.0         0              8376355  172994973
               200000.0         0              2463748  326005498
ALABAMA       -1.0         860611              1246062    8272612
               0.0         732049               276439     142252

Item                    Total tax liability:   Number     Amount  \
place         amt
UNITED STATES -1.0                           99895281  840519869
               0.0                           24306193   17009070
               20000.0                       15326616   26099638
               30000.0                       22856763   76312341
               50000.0                       17450543  109322716
               75000.0                        9107062   97351271
               100000.0                       8383039  180947338
               200000.0                       2465065  333477492
ALABAMA       -1.0                            1342295    8748726
               0.0                             355359     235911

Item                    Tax due at time of filing:   Number    Amount  \
place         amt
UNITED STATES -1.0                                 22645999  81530859
               0.0                                  5284474   3064407
               20000.0                              2460327   2495173
               30000.0                              4196138   5896366
               50000.0                              3919342   7765562
               75000.0                              2658071   7300421
               100000.0                             3026112  15660093
               200000.0                             1101535  39348828
ALABAMA       -1.0                                   287372    901096
               0.0                                    65796     35990

Item                    Overpayments:   Number     Amount
place         amt
UNITED STATES -1.0                   100550368  207677688
               0.0                    40543492   53992712
               20000.0                15751987   28168945
               30000.0                19448909   36781025
               50000.0                13065684   33160763
               75000.0                 6070570   19331885
               100000.0                4777095   21497631
               200000.0                 892631   14744724
ALABAMA       -1.0                     1509132    3125097
               0.0                      700440    1201343

[10 rows x 60 columns]

2019-03-25 18:54:46.248549 2001 Fetching data
https://www.irs.gov/pub/irs-soi/01in54cm.xls
2019-03-25 18:54:46.283633 2001 Realigning data
2019-03-25 18:54:46.348346 2001 Formatting data

Item                         NaN      NaN Returns Count Joint Returns Count  \
place         amt
United States -1.00       Total   Returns     130977219            51193206
               0.00          and     Loss       1752721              516701
               0.01        Under    10000      25148294             1929894
               10000.00    Under    20000      23493788             4606740
               20000.00    Under    30000      18741155             5064275
               30000.00    Under    50000      24343572            10240186
               50000.00    Under    75000      17639483            12083689
               75000.00    Under   100000       8943249             7349674
               100000.00   Under   150000       6372267             5491853
               150000.00   Under   200000       1966655             1702026

Item                     Single Returns Count Head of Household Count  \
place         amt
United States -1.00                  58376029                18598611
               0.00                    997706                  114269
               0.01                  19376052                 3408644
               10000.00              12736825                 5646151
               20000.00               8949946                 4161891
               30000.00               9893521                 3510065
               50000.00               4034341                 1225130
               75000.00               1205447                  298626
               100000.00               687723                  143756
               150000.00               208036                   40182

Item                     Number of Farm Returns Paid Preparer Returns Count  \
place         amt
United States -1.00                     2048843                    73973374
               0.00                      126134                     1132623
               0.01                      193078                    12506368
               10000.00                  261883                    13762391
               20000.00                  250445                    10617934
               30000.00                  430112                    13741400
               50000.00                  377334                    10228017
               75000.00                  177581                     5077444
               100000.00                 119318                     3670706
               150000.00                  40979                     1254165

Item                          Number of Returns      Amount     ...      \
place         amt                                               ...
United States -1.00                   111521029  4555746889     ...
               0.00                      443166    11347668     ...
               0.01                    20093979   101024299     ...
               10000.00                18975517   265221497     ...
               20000.00                16336925   378995122     ...
               30000.00                21781241   781856685     ...
               50000.00                15942274   871919105     ...
               75000.00                 8176707   618192064     ...
               100000.00                5807557   591114972     ...
               150000.00                1755012   241136772     ...

Item                          Number of Returns      Amount  \
place         amt
United States -1.00                    37379429   199410093
               0.00                      176422     1152591
               0.01                      498342      957213
               10000.00                 1442165     1498222
               20000.00                 2713904     3099384
               30000.00                 7798528    13724990
               50000.00                 9649317    26952123
               75000.00                 6336732    25723600
               100000.00                5018024    30721249
               150000.00                1612453    15592451

Item                          Number of Returns      Amount  \
place         amt
United States -1.00                    39025354   103218020
               0.00                      260376     1060546
               0.01                      577822     1176046
               10000.00                 1696971     3161480
               20000.00                 2727530     4662127
               30000.00                 7724827    13586883
               50000.00                 9941572    20259144
               75000.00                 6713599    16897085
               100000.00                5378621    17706373
               150000.00                1727601     7588321

Item                          Number of Returns      Amount  \
place         amt
United States -1.00                    44416103   315005855
               0.00                      318157     2665590
               0.01                      846926     2287255
               10000.00                 2169924     5334919
               20000.00                 3438966     8613852
               30000.00                 9197046    29091289
               50000.00                11119425    49473335
               75000.00                 7292272    44505157
               100000.00                5771654    50099951
               150000.00                1847712    23940692

Item                          Number of Returns      Amount  \
place         amt
United States -1.00                    37113170   356571897
               0.00                      258232     4845145
               0.01                      498441     3617596
               10000.00                 1432090     9641526
               20000.00                 2569464    17116348
               30000.00                 7551114    52442036
               50000.00                 9662138    75516125
               75000.00                 6441869    58393453
               100000.00                5057283    56866795
               150000.00                1594574    23273703

Item                          Number of Returns      Amount
place         amt
United States -1.00                    39430635   137754032
               0.00                           0           0
               0.01                      541090      572450
               10000.00                 1730996     2800889
               20000.00                 2834566     5035448
               30000.00                 7891349    15097821
               50000.00                10009362    22132085
               75000.00                 6817788    18300843
               100000.00                5501402    19195961
               150000.00                1770690     8509195

[10 rows x 95 columns]

2019-03-25 18:54:46.620346 2000 Fetching data
https://www.irs.gov/pub/irs-soi/00in54cm.xls
2019-03-25 18:54:46.653848 2000 Realigning data
2019-03-25 18:54:46.710350 2000 Formatting data

Item                   NaN      NaN Returns Count Dependent Exemptions Count  \
place   amt
Alabama -1.00       Total   Returns       1904150                    1366454
         0.00          and     Loss         13320                       4871
         0.01        Under    10000        415090                     178778
         10000.00    Under    20000        423565                     314916
         20000.00    Under    30000        286275                     210288
         30000.00    Under    50000        331729                     253883
         50000.00    Under    75000        228193                     201719
         75000.00    Under   100000        102628                      99754
         100000.00   Under   150000         62364                      60887
         150000.00   Under   200000         17429                      17109

Item               Joint Returns Count Single Returns Count  \
place   amt
Alabama -1.00                   772772               705643
         0.00                     5888                 6298
         0.01                    38420               277191
         10000.00                87935               172825
         20000.00                92563               107537
         30000.00               179897                95104
         50000.00               183234                30663
         75000.00                91826                 7997
         100000.00               56546                 4505
         150000.00               15627                 1408

Item               Head of Household Count Number of Farm Returns  \
place   amt
Alabama -1.00                       393607                  51896
         0.00                          550                   2097
         0.01                        94147                   4559
         10000.00                   154939                   6701
         20000.00                    78640                   6305
         30000.00                    49412                  11121
         50000.00                    12060                  10220
         75000.00                     2245                   5016
         100000.00                     979                   3020
         150000.00                     280                   1038

Item               Paid Preparer Returns Count      Number of Returns  \
place   amt
Alabama -1.00                          1125294                1654590
         0.00                            10381                   4232
         0.01                           215780                 345606
         10000.00                       257889                 359949
         20000.00                       168833                 254341
         30000.00                       201511                 299445
         50000.00                       140640                 207254
         75000.00                        60657                  93693
         100000.00                       37562                  55753
         150000.00                       12152                  14904

Item                   ...          Number of Returns      Amount  \
place   amt            ...
Alabama -1.00          ...                     522970     1592985
         0.00          ...                       2060        7581
         0.01          ...                       6286        8061
         10000.00      ...                      26336       18224
         20000.00      ...                      51230       48998
         30000.00      ...                     125489      187481
         50000.00      ...                     138821      317198
         75000.00      ...                      81039      256860
         100000.00     ...                      54226      237834
         150000.00     ...                      15731       99188

Item                    Number of Returns      Amount      Number of Returns  \
place   amt
Alabama -1.00                      474459      323608                 554316
         0.00                        2459        3196                   3028
         0.01                        6429        3080                   9981
         10000.00                   22849        9501                  33768
         20000.00                   41170       16727                  56608
         30000.00                  106800       44422                 131771
         50000.00                  128672       63606                 143218
         75000.00                   77577       50748                  82837
         100000.00                  52397       50484                  55216
         150000.00                  15185       22390                  15946

Item                    Amount      Number of Returns      Amount  \
place   amt
Alabama -1.00          2030899                 468164     3452849
         0.00            12327                   2616       32241
         0.01            12133                   6573       35943
         10000.00        32123                  22663      119710
         20000.00        74352                  42747      215681
         30000.00       254009                 109500      600968
         50000.00       408156                 128179      817210
         75000.00       326309                  75296      560095
         100000.00      303098                  49088      459936
         150000.00      126469                  13597      171786

Item                    Number of Returns      Amount
place   amt
Alabama -1.00                      505351     2021578
         0.00                           0           0
         0.01                        7998       10889
         10000.00                   29138       59128
         20000.00                   49158      109100
         30000.00                  117563      294628
         50000.00                  132639      401953
         75000.00                   78975      302532
         100000.00                  53174      271238
         150000.00                  15402      111711

[10 rows x 96 columns]

In [285]:
# my_df[my_df['Returns Count'] != 'Returns Count']
# my_df.columns[3]

Item                          NaN      NaN Returns Count  \
place         amt
Alabama       -1.00        Total   Returns       1904150
               0.00           and     Loss         13320
               0.01         Under    10000        415090
               10000.00     Under    20000        423565
               20000.00     Under    30000        286275
               30000.00     Under    50000        331729
               50000.00     Under    75000        228193
               75000.00     Under   100000        102628
               100000.00    Under   150000         62364
               150000.00    Under   200000         17429
               200000.00    Under   500000         18357
               500000.00    Under  1000000          3636
               1000000.00     and     Over          1564
Alaska        -1.00        Total   Returns        328747
               0.00           and     Loss          2481
               0.01         Under    10000         87508
               10000.00     Under    20000         47394
               20000.00     Under    30000         38554
               30000.00     Under    50000         55022
               50000.00     Under    75000         44700
               75000.00     Under   100000         25647
               100000.00    Under   150000         18261
               150000.00    Under   200000          4687
               200000.00    Under   500000          3708
               500000.00    Under  1000000           567
               1000000.00     and     Over           218
Arizona       -1.00        Total   Returns       2152615
               0.00           and     Loss         18190
               0.01         Under    10000        374530
               10000.00     Under    20000        422571
...                           ...      ...           ...
Wyoming        150000.00    Under   200000          2088
               200000.00    Under   500000          2531
               500000.00    Under  1000000           568
               1000000.00     and     Over           473
Other Areas   -1.00        Total   Returns       1474174
               0.00           and     Loss        454996
               0.01         Under    10000        395586
               10000.00     Under    20000        208848
               20000.00     Under    30000        112358
               30000.00     Under    50000        115373
               50000.00     Under    75000         68667
               75000.00     Under   100000         34065
               100000.00    Under   150000         33287
               150000.00    Under   200000         16021
               200000.00    Under   500000         24393
               500000.00    Under  1000000          6290
               1000000.00     and     Over          4290
United States -1.00        Total   Returns     130122204
               0.00           and     Loss       1464336
               0.01         Under    10000      25947174
               10000.00     Under    20000      23678120
               20000.00     Under    30000      18533555
               30000.00     Under    50000      23878431
               50000.00     Under    75000      17263552
               75000.00     Under   100000       8547241
               100000.00    Under   150000       6098349
               150000.00    Under   200000       1947393
               200000.00    Under   500000       2120925
               500000.00    Under  1000000        402060
               1000000.00     and     Over        241068

Item                      Dependent Exemptions Count Joint Returns Count  \
place         amt
Alabama       -1.00                          1366454              772772
               0.00                             4871                5888
               0.01                           178778               38420
               10000.00                       314916               87935
               20000.00                       210288               92563
               30000.00                       253883              179897
               50000.00                       201719              183234
               75000.00                        99754               91826
               100000.00                       60887               56546
               150000.00                       17109               15627
               200000.00                       18848               16244
               500000.00                        3884                3223
               1000000.00                       1517                1369
Alaska        -1.00                           197844              115510
               0.00                             1016                 896
               0.01                             9416                2177
               10000.00                        21490                6677
               20000.00                        25721                9629
               30000.00                        42362               21425
               50000.00                        43452               29381
               75000.00                        26856               21378
               100000.00                       18818               16025
               150000.00                        4585                4085
               200000.00                        3513                3164
               500000.00                         456                 492
               1000000.00                        159                 181
Arizona       -1.00                          1515603              877841
               0.00                             6716                6920
               0.01                           136576               33276
               10000.00                       270477               87587
...                                              ...                 ...
Wyoming        150000.00                        1800                1735
               200000.00                        2038                2091
               500000.00                         395                 451
               1000000.00                        237                 369
Other Areas   -1.00                           985005              387764
               0.00                           505716               99212
               0.01                            68257               34679
               10000.00                        69493               41589
               20000.00                        76716               44337
               30000.00                        90735               54524
               50000.00                        57791               36919
               75000.00                        29731               20285
               100000.00                       31146               21145
               150000.00                       16199               10619
               200000.00                       27364               17118
               500000.00                        6931                4360
               1000000.00                       4926                2977
United States -1.00                         85212196            50617716
               0.00                           862660              460652
               0.01                          7796657             1887364
               10000.00                     13530593             4583776
               20000.00                     11801947             5048901
               30000.00                     16924063            10357943
               50000.00                     15130129            12065333
               75000.00                      8352227             7027737
               100000.00                     6064357             5191532
               150000.00                     1952523             1657029
               200000.00                     2161367             1799106
               500000.00                      400381              338323
               1000000.00                     235292              200020

Item                      Single Returns Count Head of Household Count  \
place         amt
Alabama       -1.00                     705643                  393607
               0.00                       6298                     550
               0.01                     277191                   94147
               10000.00                 172825                  154939
               20000.00                 107537                   78640
               30000.00                  95104                   49412
               50000.00                  30663                   12060
               75000.00                   7997                    2245
               100000.00                  4505                     979
               150000.00                  1408                     280
               200000.00                  1648                     303
               500000.00                   322                      34
               1000000.00                  145                      18
Alaska        -1.00                     176266                   30289
               0.00                       1348                     141
               0.01                      80511                    3669
               10000.00                  32100                    7147
               20000.00                  20626                    6903
               30000.00                  24472                    7593
               50000.00                  11370                    3257
               75000.00                   3174                     905
               100000.00                  1704                     450
               150000.00                   464                     109
               200000.00                   413                      99
               500000.00                    59                      12
               1000000.00                   25                       4
Arizona       -1.00                     937463                  309487
               0.00                       9818                     852
               0.01                     281334                   55566
               10000.00                 227505                  101235
...                                        ...                     ...
Wyoming        150000.00                   287                      41
               200000.00                   370                      32
               500000.00                    90                      11
               1000000.00                   70                       7
Other Areas   -1.00                     689109                   80766
               0.00                     201304                   50492
               0.01                     230747                    5414
               10000.00                 129032                    7932
               20000.00                  45918                    6316
               30000.00                  39308                    5346
               50000.00                  19817                    2398
               75000.00                   8032                     820
               100000.00                  6721                     763
               150000.00                  2843                     368
               200000.00                  3774                     608
               500000.00                  1029                     164
               1000000.00                  584                     145
United States -1.00                   58595932                18107086
               0.00                     767844                   94235
               0.01                   20114671                 3505867
               10000.00               12892630                 5685958
               20000.00                8941369                 3969223
               30000.00                9593068                 3254977
               50000.00                3818719                 1104029
               75000.00                1171103                  265067
               100000.00                722693                  135531
               150000.00                233220                   39946
               200000.00                258435                   40934
               500000.00                 50784                    7093
               1000000.00                31396                    4226

Item                      Number of Farm Returns Paid Preparer Returns Count  \
place         amt
Alabama       -1.00                        51896                     1125294
               0.00                         2097                       10381
               0.01                         4559                      215780
               10000.00                     6701                      257889
               20000.00                     6305                      168833
               30000.00                    11121                      201511
               50000.00                    10220                      140640
               75000.00                     5016                       60657
               100000.00                    3020                       37562
               150000.00                    1038                       12152
               200000.00                    1277                       15120
               500000.00                     346                        3320
               1000000.00                    196                        1449
Alaska        -1.00                         1255                      154440
               0.00                           67                        1791
               0.01                           77                       33784
               10000.00                       97                       21833
               20000.00                       72                       17862
               30000.00                      184                       25967
               50000.00                      245                       22895
               75000.00                      182                       13730
               100000.00                     176                       10204
               150000.00                      66                        2919
               200000.00                      70                        2770
               500000.00                      13                         492
               1000000.00                      6                         193
Arizona       -1.00                         8298                     1178537
               0.00                          695                       13213
               0.01                          597                      173133
               10000.00                      887                      231870
...                                          ...                         ...
Wyoming        150000.00                     182                        1625
               200000.00                     282                        2182
               500000.00                      71                         519
               1000000.00                     56                         443
Other Areas   -1.00                         2063                      518203
               0.00                          356                       95685
               0.01                          321                      144856
               10000.00                      187                       88116
               20000.00                      119                       47595
               30000.00                      220                       46481
               50000.00                      182                       28483
               75000.00                      149                       16007
               100000.00                     184                       18154
               150000.00                      86                        9994
               200000.00                     157                       16061
               500000.00                      46                        4069
               1000000.00                     56                        2702
United States -1.00                      2071623                    70726315
               0.00                       118679                      838959
               0.01                       197028                    11926605
               10000.00                   266947                    13179992
               20000.00                   254345                     9990822
               30000.00                   438197                    13120964
               50000.00                   380133                     9904308
               75000.00                   175377                     4847429
               100000.00                  120301                     3543487
               150000.00                   42642                     1252866
               200000.00                   56074                     1576388
               500000.00                   13158                      335054
               1000000.00                   8742                      209441

Item                           Number of Returns     ...      \
place         amt                                    ...
Alabama       -1.00                      1654590     ...
               0.00                         4232     ...
               0.01                       345606     ...
               10000.00                   359949     ...
               20000.00                   254341     ...
               30000.00                   299445     ...
               50000.00                   207254     ...
               75000.00                    93693     ...
               100000.00                   55753     ...
               150000.00                   14904     ...
               200000.00                   15129     ...
               500000.00                    2999     ...
               1000000.00                   1285     ...
Alaska        -1.00                       259764     ...
               0.00                          808     ...
               0.01                        44894     ...
               10000.00                    40816     ...
               20000.00                    34475     ...
               30000.00                    49932     ...
               50000.00                    40636     ...
               75000.00                    23633     ...
               100000.00                   16789     ...
               150000.00                    4091     ...
               200000.00                    3067     ...
               500000.00                     448     ...
               1000000.00                    175     ...
Arizona       -1.00                      1815436     ...
               0.00                         5466     ...
               0.01                       302532     ...
               10000.00                   346440     ...
...                                          ...     ...
Wyoming        150000.00                    1589     ...
               200000.00                    1799     ...
               500000.00                     388     ...
               1000000.00                    295     ...
Other Areas   -1.00                       839719     ...
               0.00                        63274     ...
               0.01                       231911     ...
               10000.00                   177649     ...
               20000.00                    97337     ...
               30000.00                   102057     ...
               50000.00                    61378     ...
               75000.00                    30612     ...
               100000.00                   30039     ...

In [144]:
import datetime

RANGES = {
    'Under $50k': (0, 5e4),     #    0 <= ... <  50k
    '$50-$100k': (5e4, 1e5),   #  50k <= ... < 100k
    '$100-$200k': (1e5, 2e5),  # 100k <= ... < 200k
    '$200k and greater': (2e5,)    # 200k <= ...
}

DIMENSIONS = [
    'Number of returns',
    'Adjusted gross income (AGI)',
]

def build_query(my_place, lte, gt=None):
    my_query = ''
    
    my_query += f'{lte} <= amt'
    
    if (gt):
        my_query += f' < {gt} '
    
    my_query += f' and place == "{my_place}"'
    
    return my_query

data = []

def format_place(x):
    df = df_state_refs[df_state_refs.name.str.contains(x, case=False)]
    return df.abbrev.iloc[0]

for year in range(2016, 2004, -1):
    print(datetime.datetime.now(), year, 'Fetching data')
    df = get_soi_df(('abbrev', 'cm'), year)
    print(datetime.datetime.now(), year, 'Realigning data')
    df = realign_tables(df)
    print(datetime.datetime.now(), year, 'Formatting data')
    my_df = format_soi_df(df)
    print()
    
    for place in df_state_refs.name:
        my_place = place.upper()
        
        for range_name, my_range in RANGES.items():
            my_query = build_query(my_place, *my_range)
#             my_value = my_df.query(my_query)['Number of returns'].sum()
            for my_dimension in DIMENSIONS:
                my_value = my_df.query(my_query)[my_dimension].sum()

                data.append((
                    my_dimension,
                    f'1/1/{year}',
                    format_place(my_place),
                    range_name,
                    my_value
                ))
        
df = pd.DataFrame(data)

2019-03-25 17:12:24.163891 2016 Fetching data
2019-03-25 17:12:24.164969 2016 Realigning data
2019-03-25 17:12:24.166643 2016 Formatting data

2019-03-25 17:12:27.219924 2015 Fetching data
2019-03-25 17:12:27.220027 2015 Realigning data
2019-03-25 17:12:27.220725 2015 Formatting data

2019-03-25 17:12:29.985256 2014 Fetching data
2019-03-25 17:12:29.985361 2014 Realigning data
2019-03-25 17:12:29.986052 2014 Formatting data

2019-03-25 17:12:32.655898 2013 Fetching data
2019-03-25 17:12:32.656002 2013 Realigning data
2019-03-25 17:12:32.656682 2013 Formatting data

2019-03-25 17:12:35.167298 2012 Fetching data
2019-03-25 17:12:35.167407 2012 Realigning data
2019-03-25 17:12:35.168090 2012 Formatting data

2019-03-25 17:12:37.782952 2011 Fetching data
2019-03-25 17:12:37.783055 2011 Realigning data
2019-03-25 17:12:37.783741 2011 Formatting data

2019-03-25 17:12:40.294166 2010 Fetching data
2019-03-25 17:12:40.294279 2010 Realigning data
2019-03-25 17:12:40.307614 2010 Formatting data

2019-03-25 17:12:42.902551 2009 Fetching data
2019-03-25 17:12:42.903030 2009 Realigning data
2019-03-25 17:12:42.911419 2009 Formatting data

2019-03-25 17:12:45.555932 2008 Fetching data
2019-03-25 17:12:45.556397 2008 Realigning data
2019-03-25 17:12:45.564890 2008 Formatting data

2019-03-25 17:12:47.794776 2007 Fetching data
2019-03-25 17:12:47.795083 2007 Realigning data
2019-03-25 17:12:47.803288 2007 Formatting data

2019-03-25 17:12:49.923945 2006 Fetching data
2019-03-25 17:12:49.924151 2006 Realigning data
2019-03-25 17:12:49.931181 2006 Formatting data

2019-03-25 17:12:52.180706 2005 Fetching data
2019-03-25 17:12:52.180924 2005 Realigning data
2019-03-25 17:12:52.188579 2005 Formatting data

In [145]:
df.columns = ('dimension', 'date', 'group', 'range', 'val')

pivot = pd.pivot_table(df, values='val', columns='range', index=['dimension', 'group', 'date'])

pivot = pivot[['Under $50k', '$50-$100k', '$100-$200k', '$200k and greater']]

In [138]:
subset = pivot.xs('1/1/2007', level=1, drop_level=False)
subset[:] = -1
pivot.update(subset)
pivot.query('group not in ["cm", "oa"]').query('date in ["1/1/2006", "1/1/2016"]').to_csv('sample.csv')

/Users/pjudge/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/pjudge/Library/Python/3.7/lib/python/site-packages/pandas/core/frame.py:3123: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.loc._setitem_with_indexer(key, value)
/Users/pjudge/Library/Python/3.7/lib/python/site-packages/pandas/core/frame.py:3111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return self._setitem_slice(indexer, value)

In [146]:
pivot.query('group in ["il"]')

range                                       Under $50k    $50-$100k  \
dimension                   group date
Adjusted gross income (AGI) il    1/1/2005  75252964.0   93382961.0
                                  1/1/2006  75009056.0   96364475.0
                                  1/1/2007  76096097.0   99868100.0
                                  1/1/2008  73365620.0   98937338.0
                                  1/1/2009  77801110.0   95598997.0
                                  1/1/2010  72224644.0   96752757.0
                                  1/1/2011  70649498.0   96883967.0
                                  1/1/2012  70008538.0   97152886.0
                                  1/1/2013  69667300.0   98076995.0
                                  1/1/2014  69498881.0   99289262.0
                                  1/1/2015  69623626.0  100296857.0
                                  1/1/2016  69069645.0  100072315.0
Number of returns           il    1/1/2005   3832554.0    1319905.0
                                  1/1/2006   3855445.0    1357931.0
                                  1/1/2007   4304768.0    1404540.0
                                  1/1/2008   3865517.0    1390269.0
                                  1/1/2009   3849417.0    1345143.0
                                  1/1/2010   3834120.0    1358185.0
                                  1/1/2011   3860445.0    1358033.0
                                  1/1/2012   3754050.0    1359260.0
                                  1/1/2013   3721230.0    1370470.0
                                  1/1/2014   3671840.0    1386000.0
                                  1/1/2015   3638660.0    1399680.0
                                  1/1/2016   3569220.0    1397680.0

range                                        $100-$200k  $200k and greater
dimension                   group date
Adjusted gross income (AGI) il    1/1/2005   67811056.0         98874476.0
                                  1/1/2006   75895156.0        114966917.0
                                  1/1/2007   84171574.0        132529144.0
                                  1/1/2008   86444393.0        115801241.0
                                  1/1/2009   83605198.0         93433098.0
                                  1/1/2010   86919503.0        106365303.0
                                  1/1/2011   91664666.0        112216060.0
                                  1/1/2012   96566785.0        139391854.0
                                  1/1/2013  101512794.0        129944416.0
                                  1/1/2014  106932210.0        148468300.0
                                  1/1/2015  111530789.0        160190360.0
                                  1/1/2016  112374651.0        155405619.0
Number of returns           il    1/1/2005     513157.0           170577.0
                                  1/1/2006     572474.0           193844.0
                                  1/1/2007     632996.0           217054.0
                                  1/1/2008     649579.0           207061.0
                                  1/1/2009     627582.0           186041.0
                                  1/1/2010     651227.0           200337.0
                                  1/1/2011     683830.0           219720.0
                                  1/1/2012     717840.0           245950.0
                                  1/1/2013     752490.0           256510.0
                                  1/1/2014     790340.0           282930.0
                                  1/1/2015     822510.0           301130.0
                                  1/1/2016     827510.0           305690.0