In [5]:
import os
import pandas as pd

In [7]:
scope = sorted(list(filter(lambda x: '_in_' in x, os.listdir('working'))))
scope

['il_in_1990_1991.xls',
 'il_in_1991_1992.xls',
 'il_in_1992_1993.xls',
 'il_in_1993_1994.xls',
 'il_in_1994_1995.xls',
 'il_in_1995_1996.xls',
 'il_in_1996_1997.xls',
 'il_in_1997_1998.xls',
 'il_in_1998_1999.xls',
 'il_in_1999_2000.xls',
 'il_in_2000_2001.xls',
 'il_in_2001_2002.xls',
 'il_in_2002_2003.xls',
 'il_in_2003_2004.xls',
 'il_in_2004_2005.xls',
 'il_in_2005_2006.xls',
 'il_in_2006_2007.xls',
 'il_in_2007_2008.xls',
 'il_in_2008_2009.xls',
 'il_in_2009_2010.xls',
 'il_in_2010_2011.xls']

In [19]:
dfs = []

for filename in scope:
    state, direction, date_from, date_to = filename.split('.')[0].split('_')
    df = pd.read_excel('working/' + filename)
    df['direction'] = direction
    df['date_from'] = date_from
    df['date_to'] = date_to
    df = df[df['Number of returns'].notnull()]
    dfs.append(df)
    
pd.concat(dfs)

,Origin from,State,State Name,Number of returns,Number of exemptions,Aggregate adjusted gross income (AGI),direction,date_from,date_to
0,96,NaN,TOTAL FLOW,97133.0,187602.0,NaN,in,1990,1991
1,06,Ca,California,9156.0,18821.0,NaN,in,1990,1991
2,18,In,Indiana,6648.0,12193.0,NaN,in,1990,1991
3,29,Mo,Missouri,6538.0,12563.0,NaN,in,1990,1991
4,12,Fl,Florida,6333.0,11665.0,NaN,in,1990,1991
5,55,Wi,Wisconsin,5864.0,9908.0,NaN,in,1990,1991
6,48,Tx,Texas,5849.0,12782.0,NaN,in,1990,1991
7,26,Mi,Michigan,5153.0,8630.0,NaN,in,1990,1991
8,57,FR,Foreign,4642.0,9427.0,NaN,in,1990,1991
9,19,Ia,Iowa,4118.0,7729.0,NaN,in,1990,1991
10,39,Oh,Ohio,3800.0,7093.0,NaN,in,1990,1991
11,36,Ny,New York,3198.0,5525.0,NaN,in,1990,1991
12,04,Az,Arizona,2290.0,4314.0,NaN,in,1990,1991
13,27,Mn,Minnesota,2106.0,3880.0,NaN,in,1990,1991
14,51,Va,Virginia,2077.0,4374.0,NaN,in,1990,1991
15,13,Ga,Georgia,2043.0,4171.0,NaN,in,1990,1991
16,42,Pa,Pennsylvania,1996.0,3941.0,NaN,in,1990,1991
17,47,Tn,Tennessee,1924.0,3928.0,NaN,in,1990,1991
18,08,Co,Colorado,1850.0,3659.0,NaN,in,1990,1991
19,34,Nj,New Jersey,1694.0,3371.0,NaN,in,1990,1991
20,37,Nc,North Carolina,1668.0,3286.0,NaN,in,1990,1991
21,25,Ma,Massachusetts,1664.0,2743.0,NaN,in,1990,1991
22,21,Ky,Kentucky,1428.0,2928.0,NaN,in,1990,1991
23,20,Ks,Kansas,1259.0,2568.0,NaN,in,1990,1991
24,53,Wa,Washington,1069.0,2226.0,NaN,in,1990,1991
25,24,Md,Maryland,1065.0,2055.0,NaN,in,1990,1991
26,28,Ms,Mississippi,1005.0,2203.0,NaN,in,1990,1991
27,09,Ct,Connecticut,961.0,1843.0,NaN,in,1990,1991
28,05,Ar,Arkansas,960.0,2045.0,NaN,in,1990,1991
29,40,Ok,Oklahoma,907.0,1858.0,NaN,in,1990,1991
...,...,...,...,...,...,...,...,...,...
25,53,WA,WASHINGTON,1455.0,2675.0,80312.0,in,2010,2011
26,34,NJ,NEW JERSEY,1394.0,2587.0,123318.0,in,2010,2011
27,32,NV,NEVADA,1111.0,1957.0,44409.0,in,2010,2011
28,24,MD,MARYLAND,1034.0,1784.0,63893.0,in,2010,2011
29,20,KS,KANSAS,1005.0,1829.0,47648.0,in,2010,2011
30,5,AR,ARKANSAS,812.0,1589.0,31549.0,in,2010,2011
31,1,AL,ALABAMA,767.0,1501.0,32344.0,in,2010,2011
32,9,CT,CONNECTICUT,750.0,1270.0,67436.0,in,2010,2011
33,45,SC,SOUTH CAROLINA,749.0,1336.0,36483.0,in,2010,2011
34,28,MS,MISSISSIPPI,728.0,1438.0,22881.0,in,2010,2011
35,40,OK,OKLAHOMA,716.0,1399.0,32899.0,in,2010,2011
36,22,LA,LOUISIANA,671.0,1192.0,25060.0,in,2010,2011
37,31,NE,NEBRASKA,611.0,1107.0,30468.0,in,2010,2011
38,41,OR,OREGON,591.0,984.0,24661.0,in,2010,2011
39,11,DC,DISTRICT OF COLUMBIA,512.0,612.0,30422.0,in,2010,2011
40,49,UT,UTAH,474.0,1013.0,23893.0,in,2010,2011
41,15,HI,HAWAII,410.0,747.0,15458.0,in,2010,2011
42,35,NM,NEW MEXICO,395.0,697.0,15000.0,in,2010,2011
43,2,AK,ALASKA,255.0,465.0,10385.0,in,2010,2011
44,16,ID,IDAHO,206.0,417.0,7555.0,in,2010,2011
45,46,SD,SOUTH DAKOTA,204.0,392.0,7932.0,in,2010,2011
46,33,NH,NEW HAMPSHIRE,193.0,327.0,13295.0,in,2010,2011
47,38,ND,NORTH DAKOTA,192.0,337.0,7391.0,in,2010,2011
48,54,WV,WEST VIRGINIA,183.0,308.0,12809.0,in,2010,2011
49,10,DE,DELAWARE,161.0,299.0,9126.0,in,2010,2011
50,56,WY,WYOMING,160.0,303.0,5538.0,in,2010,2011
51,30,MT,MONTANA,158.0,244.0,5295.0,in,2010,2011
52,23,ME,MAINE,157.0,249.0,7571.0,in,2010,2011
53,44,RI,RHODE ISLAND,156.0,261.0,12727.0,in,2010,2011
54,50,VT,VERMONT,107.0,178.0,5100.0,in,2010,2011