In [1]:
# load data files
# https://www.irs.gov/statistics/soi-tax-stats-migration-data

import re
import requests
import requests_cache
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

requests_cache.install_cache()

result = requests.get('https://www.irs.gov/statistics/soi-tax-stats-migration-data')
assert result.status_code == 200
c = result.content

soup = BeautifulSoup(c)

my_target = lambda tag: tag.name == 'h3' and 'State-to-State Migration Data' in tag.get_text()

# get 1990 to 2011 data urls
data_links = soup.find(my_target).next_sibling.next_sibling.find_all('a')

urls = [{'url': a['href'], 'date_range': a.string} for a in data_links]

In [2]:
def transform_df(df):
    
    df = df[df.columns[-6:]]
    df.columns = [
        "Origin from",
        "State",
        "State Name",
        "Number of returns",
        "Number of exemptions",
        "Aggregate adjusted gross income (AGI)",
    ]

    def test_returns(x):
        try:
            return int(x)
        except:
            return -1

    df = df[df['Number of returns'].apply(test_returns) > 0]
    
    return df

dfs = []

for direction in ('in', 'out'):
    for x in range(2010, 1989, -1):
        filename = f'il_{direction}_{x}_{x+1}.xls'
        df = pd.read_excel(f'working/{filename}')
        df = transform_df(df)

        state, direction, date_from, date_to = filename.split('.')[0].split('_')
        df['direction'] = direction
        df['date_from'] = date_from
        df['date_to'] = date_to

        dfs.append(df)
        
# now 2012 thru 2016...

from io import BytesIO

data_keys = ['1112', '1213', '1314', '1415', '1516']

pd_options = {}

outflow_files = [('out', f'https://www.irs.gov/pub/irs-soi/stateoutflow{key}.csv') for key in data_keys]
inflow_files = [('in', f'https://www.irs.gov/pub/irs-soi/stateinflow{key}.csv') for key in data_keys]

for direction, url in (inflow_files + outflow_files):
    date_from = '20' + url.split('flow')[1][:2]
    date_to = '20' + url.split('flow')[1][2:4]
    
    r = requests.get(url)
    
    with BytesIO(r.content) as fh:
        df = pd.read_csv(fh, **pd_options)
        
        if direction == 'out':
            df = df.query('y1_statefips == 17')
        elif direction == 'in':
            df = df.query('y2_statefips == 17')
        df = transform_df(df)
        
        df['direction'] = direction
        df['date_from'] = date_from
        df['date_to'] = date_to
        
#         display(df)
        dfs.append(df)
    
big_df = pd.concat(dfs)

In [3]:
big_df['Origin from'] = big_df['Origin from'].apply(lambda x: str(x).zfill(2))
big_df['State'] = big_df['State'].str.upper()
big_df['State Name'] = big_df['State Name'].str.title().str.replace(' Of ', ' of ')

num_cols = ['Number of returns', 'Number of exemptions', 'date_to', 'date_from']
big_df[num_cols] = big_df[num_cols].astype(int)

my_df = big_df.set_index(['direction', 'Origin from', 'date_to']).sort_index()

In [4]:
my_df

                              State                     State Name  \
direction Origin from date_to
in        01          1991       AL                        Alabama
                      1992       AL                        Alabama
                      1993       AL                        Alabama
                      1994       AL                        Alabama
                      1995       AL                        Alabama
                      1996       AL                        Alabama
                      1997       AL                        Alabama
                      1998       AL                        Alabama
                      1999       AL                        Alabama
                      2000       AL                        Alabama
                      2001       AL                        Alabama
                      2002       AL                        Alabama
                      2003       AL                        Alabama
                      2004       AL                        Alabama
                      2005       AL                        Alabama
                      2006       AL                        Alabama
                      2007       AL                        Alabama
                      2008       AL                        Alabama
                      2009       AL                        Alabama
                      2010       AL                        Alabama
                      2011       AL                        Alabama
                      2012       AL                        Alabama
                      2013       AL                        Alabama
                      2014       AL                        Alabama
                      2015       AL                        Alabama
                      2016       AL                        Alabama
          02          1991       AK                         Alaska
                      1992       AK                         Alaska
                      1993       AK                         Alaska
                      1994       AK                         Alaska
...                             ...                            ...
out       97          2011       IL              Il Total Mig - Us
                      2012       IL          Il Total Migration Us
                      2013       IL          Il Total Migration Us
                      2014       IL          Il Total Migration-Us
                      2014       IL  Il Total Migration-Same State
                      2015       IL          Il Total Migration-Us
                      2015       IL  Il Total Migration-Same State
                      2016       IL          Il Total Migration-Us
                      2016       IL  Il Total Migration-Same State
          98          1996       IL         Il Total Mig - Foreign
                      1997       IL         Il Total Mig - Foreign
                      1998       IL         Il Total Mig - Foreign
                      1999       IL         Il Total Mig - Foreign
                      2000       IL         Il Total Mig - Foreign
                      2001       IL         Il Total Mig - Foreign
                      2002       IL         Il Total Mig - Foreign
                      2003       IL         Il Total Mig - Foreign
                      2004       IL         Il Total Mig - Foreign
                      2005       IL         Il Total Mig - Foreign
                      2006       IL         Il Total Mig - Foreign
                      2007       IL         Il Total Mig - Foreign
                      2008       IL         Il Total Mig - Foreign
                      2009       IL         Il Total Mig - Foreign
                      2010       IL         Il Total Mig - Foreign
                      2011       IL         Il Total Mig - Foreign
                      2012       IL     Il Total Migration Foreign
                      2013       IL     Il Total Migration Foreign
                      2014       IL     Il Total Migration-Foreign
                      2015       IL     Il Total Migration-Foreign
                      2016       IL     Il Total Migration-Foreign

                               Number of returns  Number of exemptions  \
direction Origin from date_to
in        01          1991                   780                  1528
                      1992                   793                  1671
                      1993                   716                  1472
                      1994                   755                  1597
                      1995                   742                  1508
                      1996                   822                  1721
                      1997                   836                  1744
                      1998                   835                  1723
                      1999                   841                  1758
                      2000                   803                  1634
                      2001                   919                  1855
                      2002                   806                  1637
                      2003                   689                  1412
                      2004                   696                  1359
                      2005                   637                  1260
                      2006                   829                  1627
                      2007                   728                  1401
                      2008                   861                  1746
                      2009                   803                  1518
                      2010                   755                  1491
                      2011                   767                  1501
                      2012                   979                  2126
                      2013                   802                  1510
                      2014                   712                  1387
                      2015                   561                  1045
                      2016                   695                  1313
          02          1991                   204                   468
                      1992                   250                   529
                      1993                   221                   502
                      1994                   219                   490
...                                          ...                   ...
out       97          2011                116056                209921
                      2012                127660                235096
                      2013                134890                252839
                      2014                131620                246494
                      2014                139058                265156
                      2015                 96761                172012
                      2015                105519                195035
                      2016                136375                251450
                      2016                141774                266101
          98          1996                  3134                  5952
                      1997                  3535                  6210
                      1998                  3500                  6160
                      1999                  3457                  5921
                      2000                  3466                  5944
                      2001                  3628                  6202
                      2002                  3859                  6467
                      2003                  3629                  6123
                      2004                  3546                  6066
                      2005                  3400                  5899
                      2006                  3435                  5857
                      2007                  3343                  5708
                      2008                  3349                  5652
                      2009                  3852                  6177
                      2010                  3651                  6060
                      2011                  3431                  5675
                      2012                  3667                  6977
                      2013                  3231                  6314
                      2014                  2986                  5895
                      2015                  2847                  5441
                      2016                  2927                  5405

                              Aggregate adjusted gross income (AGI)  date_from
direction Origin from date_to
in        01          1991                                      NaN       1990
                      1992                                      NaN       1991
                      1993                                    18056       1992
                      1994                                    19786       1993
                      1995                                    20025       1994
                      1996                                    23063       1995
                      1997                                    28264       1996
                      1998                                    28773       1997
                      1999                                    32799       1998
                      2000                                    29510       1999
                      2001                                    41731       2000
                      2002                                    31934       2001
                      2003                                    26276       2002
                      2004                                    25243       2003
                      2005                                    22976       2004
                      2006                                    35735       2005
                      2007                                    27808       2006
                      2008                                    41018       2007
                      2009                                    29757       2008
                      2010                                    27916       2009
                      2011                                    32344       2010
                      2012                                    38224       2011
                      2013                                    32717       2012
                      2014                                    30007       2013
                      2015                                    25851       2014
                      2016                                    32036       2015
          02          1991                                      NaN       1990
                      1992                                      NaN       1991
                      1993                                     6132       1992
                      1994                                     6201       1993
...                                                             ...        ...
out       97          2011                                  6381579       2010
                      2012                                  8059740       2011
                      2013                                  9906671       2012
                      2014                                  9577496       2013
                      2014                                  7441934       2013
                      2015                                  7433615       2014
                      2015                                  5694945       2014
                      2016                                 11102699       2015
                      2016                                  8525584       2015
          98          1996                                   104506       1995
                      1997                                   105789       1996
                      1998                                   106676       1997
                      1999                                   120378       1998
                      2000                                   137824       1999
                      2001                                   146925       2000
                      2002                                   153955       2001
                      2003                                   130142       2002
                      2004                                   182529       2003
                      2005                                   132111       2004
                      2006                                   159298       2005
                      2007                                   197152       2006
                      2008                                   215300       2007
                      2009                                   170739       2008
                      2010                                   163366       2009
                      2011                                   194753       2010
                      2012                                   293384       2011
                      2013                                   273814       2012
                      2014                                   250560       2013
                      2015                                   284050       2014
                      2016                                   280470       2015

[2846 rows x 6 columns]

In [5]:
this_df = my_df.copy()
this_df = this_df.loc[this_df.index.get_level_values('Origin from') == '96']

pivot = this_df.reset_index().pivot(index='date_to', columns='direction', values='Number of returns')
display(pivot)

direction      in     out
date_to
1991        97133  114303
1992        97177  113789
1993        96732  114691
1994        93362  115103
1995        98259  118129
1996        97167  116823
1997        97206  122718
1998        98765  124806
1999       102659  125262
2000       102905  128306
2001       104233  128424
2002       100309  126190
2003        96146  121006
2004        95941  121763
2005        99470  122661
2006       108029  124089
2007       110585  119762
2008       112836  122724
2009       109671  118378
2010        90489  112636
2011        93055  119487
2012       105892  131327
2013       105996  138121
2014        94909  134606
2015        73426   99608
2016        96201  139302

In [8]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from gspread_dataframe import get_as_dataframe, set_with_dataframe

scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

credentials = ServiceAccountCredentials.from_json_keyfile_name('/Users/pjudge/.credentials/BGA Graphics-3edf4552f3a5.json', scope)

gc = gspread.authorize(credentials)

worksheet = gc.open_by_key('1a1Udx7Bt222Bg5dFpeol84-wwlT0iXYwq17KvelGy88').worksheet('data')

def blank_out_worksheet(worksheet):
    """
    totally blank out worksheet
    """
    from gspread_dataframe import get_as_dataframe, set_with_dataframe
    
    zeroed_df = get_as_dataframe(worksheet)
    
    # set vals to null
    zeroed_df[:] = np.nan
    
    # set cols to null
    zeroed_df.rename(columns=lambda x: np.nan, inplace=True)
    
    # set worksheet to blank dataframe
    set_with_dataframe(worksheet, zeroed_df)
    
df_out = pivot.copy()
df_out.out = df_out.out.apply(lambda x: -x)
df_out = df_out.astype(int).reset_index()

df_out.columns = ['label', 'inflow', 'outflow']

blank_out_worksheet(worksheet)
set_with_dataframe(worksheet, df_out)