In [1]:
# load dependencies and prepare cache

import re
import requests
import requests_cache
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

requests_cache.install_cache()

## 'total' data (1996-2016)

In [2]:
# load data files
# https://www.irs.gov/statistics/soi-tax-stats-migration-data

result = requests.get('https://www.irs.gov/statistics/soi-tax-stats-migration-data')
assert result.status_code == 200
c = result.content

soup = BeautifulSoup(c)

my_target = lambda tag: tag.name == 'h3' and 'State-to-State Migration Data' in tag.get_text()

# get 1990 to 2011 data urls
data_links = soup.find(my_target).next_sibling.next_sibling.find_all('a')

urls = [{'url': a['href'], 'date_range': a.string} for a in data_links]

In [3]:
def transform_df(df):
    
    df = df[df.columns[-6:]]
    df.columns = [
        "Origin from",
        "State",
        "State Name",
        "Number of returns",
        "Number of exemptions",
        "Aggregate adjusted gross income (AGI)",
    ]

    def test_returns(x):
        try:
            return int(x)
        except:
            return -1

    df = df[df['Number of returns'].apply(test_returns) > 0]
    
    return df

dfs = []

for direction in ('in', 'out'):
    for x in range(2010, 1989, -1):
        filename = f'il_{direction}_{x}_{x+1}.xls'
        df = pd.read_excel(f'working/{filename}')
        df = transform_df(df)

        state, direction, date_from, date_to = filename.split('.')[0].split('_')
        df['direction'] = direction
        df['date_from'] = date_from
        df['date_to'] = date_to

        dfs.append(df)
        
# now 2012 thru 2016...

from io import BytesIO

data_keys = ['1112', '1213', '1314', '1415', '1516']

pd_options = {}

outflow_files = [('out', f'https://www.irs.gov/pub/irs-soi/stateoutflow{key}.csv') for key in data_keys]
inflow_files = [('in', f'https://www.irs.gov/pub/irs-soi/stateinflow{key}.csv') for key in data_keys]

for direction, url in (inflow_files + outflow_files):
    date_from = '20' + url.split('flow')[1][:2]
    date_to = '20' + url.split('flow')[1][2:4]
    
    r = requests.get(url)
    
    with BytesIO(r.content) as fh:
        df = pd.read_csv(fh, **pd_options)
        
        if direction == 'out':
            df = df.query('y1_statefips == 17')
        elif direction == 'in':
            df = df.query('y2_statefips == 17')
        df = transform_df(df)
        
        df['direction'] = direction
        df['date_from'] = date_from
        df['date_to'] = date_to
        
        dfs.append(df)
    
big_df = pd.concat(dfs)

In [4]:
big_df['Origin from'] = big_df['Origin from'].apply(lambda x: str(x).zfill(2))
big_df['State'] = big_df['State'].str.upper()
big_df['State Name'] = big_df['State Name'].str.title().str.replace(' Of ', ' of ')

num_cols = ['Number of returns', 'Number of exemptions', 'date_to', 'date_from']
big_df[num_cols] = big_df[num_cols].astype(int)

my_df = big_df.set_index(['direction', 'Origin from', 'date_to']).sort_index()

In [5]:
this_df = my_df.copy()

# total migration
this_df = this_df.loc[this_df.index.get_level_values('Origin from') == '96']

pivot = this_df.reset_index().pivot(index='date_to', columns='direction', values='Number of returns')
pivot['group'] = 'total'

pivot.loc[:, 'in':'out'] = pivot.loc[:, 'in':'out'].astype(int)
pivot.reset_index(inplace=True)

pivot.columns = ['label', 'inflow', 'outflow', 'group']
DF_TOTAL = pivot[['group', 'label', 'inflow', 'outflow']]

display(DF_TOTAL)

    group  label  inflow  outflow
0   total   1991   97133   114303
1   total   1992   97177   113789
2   total   1993   96732   114691
3   total   1994   93362   115103
4   total   1995   98259   118129
5   total   1996   97167   116823
6   total   1997   97206   122718
7   total   1998   98765   124806
8   total   1999  102659   125262
9   total   2000  102905   128306
10  total   2001  104233   128424
11  total   2002  100309   126190
12  total   2003   96146   121006
13  total   2004   95941   121763
14  total   2005   99470   122661
15  total   2006  108029   124089
16  total   2007  110585   119762
17  total   2008  112836   122724
18  total   2009  109671   118378
19  total   2010   90489   112636
20  total   2011   93055   119487
21  total   2012  105892   131327
22  total   2013  105996   138121
23  total   2014   94909   134606
24  total   2015   73426    99608
25  total   2016   96201   139302

## data by income bracket (2012-2016)

In [6]:
# load data files
# https://www.irs.gov/statistics/soi-tax-stats-migration-data

data_keys = ['1112', '1213', '1314', '1415', '1516']

pd_options = {}

def get_data_url(data_key):
    return f'https://www.irs.gov/pub/irs-soi/{data_key}inmigall.csv'

dfs = []

for key in data_keys:
    url = get_data_url(key)
    r = requests.get(url)
    
    with BytesIO(r.content) as fh:
        df = pd.read_csv(fh, **pd_options)
        df['timeframe'] = key
        dfs.append(df)
        
mig_df = pd.concat(dfs).set_index(['statefips', 'state', 'state_name', 'agi_stub', 'timeframe']).sort_index()

mig_df.index.set_levels([
    "Total",
    1,
    1e4,
    2.5e4,
    5e4,
    7.5e4,
    1e5,
    2e5,
#     "$1 under $10,000",
#     "$10,000 under $25,000",
#     "$25,000 under $50,000",
#     "$50,000 under $75,000",
#     "$75,000 under $100,000",
#     "$100,000 under $200,000",
#     "$200,000 or more",
], level = 'agi_stub', inplace=True)

mig_df = mig_df.query('state == "IL"')

display(mig_df.head(n=10))

                                               total_n1_0  total_n2_0  \
statefips state state_name agi_stub timeframe
17        IL    ILLINOIS   Total    1112          4972588    11045520
                                    1213          4972846    10999459
                                    1314          4961995    10899672
                                    1415          4984464    10839876
                                    1516          5016616    10820739
                           1        1112           439244      662184
                                    1213           418625      627287
                                    1314           399284      597869
                                    1415           385948      578029
                                    1516           368022      543137

                                               total_y1_agi_0  total_y2_agi_0  \
statefips state state_name agi_stub timeframe
17        IL    ILLINOIS   Total    1112            341597483       357454967
                                    1213            348909406       386626118
                                    1314            377423619       379017923
                                    1415            371457397       400267045
                                    1516            397104639       419845630
                           1        1112              4978362         2611230
                                    1213              3983640         2487859
                                    1314              4488644         2372933
                                    1415              4388293         2291767
                                    1516              4298446         2170523

                                               total_n1_1  total_n2_1  \
statefips state state_name agi_stub timeframe
17        IL    ILLINOIS   Total    1112           554824     1197084
                                    1213           557992     1202041
                                    1314           558833     1184187
                                    1415           573896     1193414
                                    1516           587173     1199072
                           1        1112            96640      145364
                                    1213            90675      136119
                                    1314            86515      128889
                                    1415            83332      123330
                                    1516            77884      112865

                                               total_y1_agi_1  total_y2_agi_1  \
statefips state state_name agi_stub timeframe
17        IL    ILLINOIS   Total    1112             11468029        13369644
                                    1213             11826281        13988470
                                    1314             12421757        14538189
                                    1415             13099928        15645616
                                    1516             14127329        16831074
                           1        1112               866800          611775
                                    1213               831509          579225
                                    1314               793909          552121
                                    1415               761512          531554
                                    1516               723887          492694

                                               total_n1_2  total_n2_2  \
statefips state state_name agi_stub timeframe
17        IL    ILLINOIS   Total    1112           916392     1868165
                                    1213           913491     1845024
                                    1314           912473     1823770
                                    1415           918096     1811288
                                    1516           922297     1797704
                           1        1112            79743      126725
                                    1213            75244      118569
                                    1314            71591      113038
                                    1415            69095      109215
                                    1516            64609      100871

                                                    ...         \
statefips state state_name agi_stub timeframe       ...
17        IL    ILLINOIS   Total    1112            ...
                                    1213            ...
                                    1314            ...
                                    1415            ...
                                    1516            ...
                           1        1112            ...
                                    1213            ...
                                    1314            ...
                                    1415            ...
                                    1516            ...

                                               samest_y1_agi_4  \
statefips state state_name agi_stub timeframe
17        IL    ILLINOIS   Total    1112               1191428
                                    1213               1232911
                                    1314               1211765
                                    1415                871945
                                    1516               1385137
                           1        1112                 23548
                                    1213                 21089
                                    1314                 16445
                                    1415                 14259
                                    1516                 16874

                                               samest_y2_agi_4  samest_n1_5  \
statefips state state_name agi_stub timeframe
17        IL    ILLINOIS   Total    1112               1236325        10230
                                    1213               1322917        11030
                                    1314               1251723        10442
                                    1415                907119         7611
                                    1516               1470059        10970
                           1        1112                  9587         1028
                                    1213                  8954         1075
                                    1314                  7348          978
                                    1415                  6090          734
                                    1516                  6866         1023

                                               samest_n2_5  samest_y1_agi_5  \
statefips state state_name agi_stub timeframe
17        IL    ILLINOIS   Total    1112             17714           767862
                                    1213             18975           900452
                                    1314             18052           895025
                                    1415             12849           641866
                                    1516             18373           976427
                           1        1112              1358            18765
                                    1213              1456            15392
                                    1314              1299            13537
                                    1415               938            10824
                                    1516              1359            16018

                                               samest_y2_agi_5  samest_n1_6  \
statefips state state_name agi_stub timeframe
17        IL    ILLINOIS   Total    1112                745352        11088
                                    1213                984768        12082
                                    1314                871693        11384
                                    1415                700515         8422
                                    1516               1055519        11783
                           1        1112                  5708         2176
                                    1213                  5992         2234
                                    1314                  5325         2026
                                    1415                  3942         1440
                                    1516                  5660         2000

                                               samest_n2_6  samest_y1_agi_6  \
statefips state state_name agi_stub timeframe
17        IL    ILLINOIS   Total    1112             15136           678470
                                    1213             16554           670238
                                    1314             15733           702016
                                    1415             11403          1552187
                                    1516             16245           796116
                           1        1112              2563            32478
                                    1213              2627            29680
                                    1314              2410            31263
                                    1415              1688            23555
                                    1516              2369            34017

                                               samest_y2_agi_6
statefips state state_name agi_stub timeframe
17        IL    ILLINOIS   Total    1112                698436
                                    1213                729831
                                    1314                666946
                                    1415                654723
                                    1516                967088
                           1        1112                 11822
                                    1213                 11916
                                    1314                 10956
                                    1415                  7347
                                    1516                 10336

[10 rows x 140 columns]

In [7]:
TARGET_COLS = ['outflow_n1_0', 'inflow_n1_0'] # total outflow and total inflow per index

RANGES = {
    'Under $50k': (0, 5e4),     #    0 <= ... <  50k
    '$50-$100k': (5e4, 1e5),    #  50k <= ... < 100k
    '$100-$200k': (1e5, 2e5),   # 100k <= ... < 200k
    '$200k and greater': (2e5,) # 200k <= ...
}

def build_query(lte, gt=None):
    my_query = 'agi_stub != "Total" and '
    
    my_query += f'{lte} <= agi_stub'
    
    if (gt):
        my_query += f' < {gt} '
        
    return my_query

dfs = []

for label, RANGE in RANGES.items():
    my_df = mig_df[TARGET_COLS].query('agi_stub != "Total"')
    
    my_df = my_df.query(build_query(*RANGE))
    
    my_df = my_df.reset_index()[['timeframe', *TARGET_COLS]].groupby('timeframe').sum()
    
    my_df['group'] = label
    
    dfs.append(my_df.reset_index())

income_df = pd.concat(dfs)
display(income_df)

  timeframe  outflow_n1_0  inflow_n1_0              group
0      1112         84541        72252         Under $50k
1      1213         85465        69506         Under $50k
2      1314         81562        61409         Under $50k
3      1415         63590        49386         Under $50k
4      1516         79183        59519         Under $50k
0      1112         25494        19695          $50-$100k
1      1213         28786        21347          $50-$100k
2      1314         28694        19370          $50-$100k
3      1415         19063        14043          $50-$100k
4      1516         30853        20783          $50-$100k
0      1112         12896         8711         $100-$200k
1      1213         15016         9490         $100-$200k
2      1314         15536         8983         $100-$200k
3      1415         10154         6168         $100-$200k
4      1516         18351        10118         $100-$200k
0      1112          5920         3516  $200k and greater
1      1213          6916         4132  $200k and greater
2      1314          6998         3891  $200k and greater
3      1415          5478         2887  $200k and greater
4      1516          9273         4737  $200k and greater

In [8]:
this_df = income_df.copy()

this_df.timeframe = this_df.timeframe.apply(lambda x: '20' + str(x)[2:])

this_df.columns = ['label', 'outflow', 'inflow', 'group']
DF_INCOMES = this_df[['group', 'label', 'inflow', 'outflow']]

display(DF_INCOMES)

               group label  inflow  outflow
0         Under $50k  2012   72252    84541
1         Under $50k  2013   69506    85465
2         Under $50k  2014   61409    81562
3         Under $50k  2015   49386    63590
4         Under $50k  2016   59519    79183
0          $50-$100k  2012   19695    25494
1          $50-$100k  2013   21347    28786
2          $50-$100k  2014   19370    28694
3          $50-$100k  2015   14043    19063
4          $50-$100k  2016   20783    30853
0         $100-$200k  2012    8711    12896
1         $100-$200k  2013    9490    15016
2         $100-$200k  2014    8983    15536
3         $100-$200k  2015    6168    10154
4         $100-$200k  2016   10118    18351
0  $200k and greater  2012    3516     5920
1  $200k and greater  2013    4132     6916
2  $200k and greater  2014    3891     6998
3  $200k and greater  2015    2887     5478
4  $200k and greater  2016    4737     9273

## save to google sheet

In [9]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from gspread_dataframe import get_as_dataframe, set_with_dataframe

scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

credentials = ServiceAccountCredentials.from_json_keyfile_name('/Users/pjudge/.credentials/BGA Graphics-3edf4552f3a5.json', scope)

gc = gspread.authorize(credentials)

worksheet = gc.open_by_key('1a1Udx7Bt222Bg5dFpeol84-wwlT0iXYwq17KvelGy88').worksheet('data')

def blank_out_worksheet(worksheet):
    """
    totally blank out worksheet
    """
    from gspread_dataframe import get_as_dataframe, set_with_dataframe
    
    zeroed_df = get_as_dataframe(worksheet)
    
    # set vals to null
    zeroed_df[:] = np.nan
    
    # set cols to null
    zeroed_df.rename(columns=lambda x: np.nan, inplace=True)
    
    # set worksheet to blank dataframe
    set_with_dataframe(worksheet, zeroed_df)
    
df_out = pd.concat([DF_TOTAL, DF_INCOMES], ignore_index=True)

df_out.outflow = df_out.outflow.apply(lambda x: -x)

df_out.loc[df_out.label=='2015', 'inflow':'outflow'] = ''
df_out.loc[df_out.label==2015, 'inflow':'outflow'] = ''

blank_out_worksheet(worksheet)
set_with_dataframe(worksheet, df_out)