In [1]:
# compile structure for irs soi data
# https://www.irs.gov/statistics/soi-tax-stats-historic-table-2

import re
import requests
import requests_cache
from bs4 import BeautifulSoup
import pandas as pd

requests_cache.install_cache()

result = requests.get('https://www.irs.gov/statistics/soi-tax-stats-historic-table-2')
assert result.status_code == 200
c = result.content

soup = BeautifulSoup(c)
state_links = soup.find('table').find_all('a')

state_refs = []

for a in state_links:
    state_dict = {}
    
    state_dict['name'] = a.string.strip()
    
    groups = re.search('\d\din(?P<id>\d\d)(?P<abbrev>\w\w)', a.attrs['href'])
    state_dict.update(groups.groupdict())
    
    state_refs.append(state_dict)
    
df_state_refs = pd.DataFrame(state_refs).sort_values('id').reset_index(drop=True)

display(df_state_refs)

   abbrev  id                    name
0      al  01                 Alabama
1      ak  02                  Alaska
2      az  03                 Arizona
3      ar  04                Arkansas
4      ca  05              California
5      co  06                Colorado
6      ct  07             Connecticut
7      de  08                Delaware
8      dc  09    District of Columbia
9      fl  10                 Florida
10     ga  11                 Georgia
11     hi  12                  Hawaii
12     id  13                   Idaho
13     il  14                Illinois
14     in  15                 Indiana
15     ia  16                    Iowa
16     ks  17                  Kansas
17     ky  18                Kentucky
18     la  19               Louisiana
19     me  20                   Maine
20     md  21                Maryland
21     ma  22           Massachusetts
22     mi  23                Michigan
23     mn  24               Minnesota
24     ms  25             Mississippi
25     mo  26                Missouri
26     mt  27                 Montana
27     ne  28                Nebraska
28     nv  29                  Nevada
29     nh  30           New Hampshire
30     nj  31              New Jersey
31     nm  32              New Mexico
32     ny  33                New York
33     nc  34          North Carolina
34     nd  35            North Dakota
35     oh  36                    Ohio
36     ok  37                Oklahoma
37     or  38                  Oregon
38     pa  39            Pennsylvania
39     ri  40            Rhode Island
40     sc  41          South Carolina
41     sd  42            South Dakota
42     tn  43               Tennessee
43     tx  44                   Texas
44     ut  45                    Utah
45     vt  46                 Vermont
46     va  47                Virginia
47     wa  48              Washington
48     wv  49           West Virginia
49     wi  50               Wisconsin
50     wy  51                 Wyoming
51     oa  52             Other Areas
52     us  53           United States
53     cm  54  Total File, All States

In [94]:
from requests import Session
from urllib.parse import urljoin

class LiveServerSession(Session):
    def __init__(self, prefix_url=None, *args, **kwargs):
        super(LiveServerSession, self).__init__(*args, **kwargs)
        self.prefix_url = prefix_url

    def request(self, method, url, *args, **kwargs):
        url = urljoin(self.prefix_url, url)
        return super(LiveServerSession, self).request(method, url, *args, **kwargs)

def lookup_state(key, val):
    df = df_state_refs
    condition = df[key] == val
    state_info = df[condition].to_dict(orient='records')[0]
    return state_info

def get_soi_data(lookup, year):
    state_info = lookup_state(*lookup)
    filename = "{}in{}{}".format(
        str(year)[2:],
        state_info['id'],
        state_info['abbrev']
    )
    pattern = r'{}\.(xlsx?|zip)'.format(filename)
    url = soup.find('a', href=re.compile(pattern)).attrs['href']
    baseUrl = 'https://www.irs.gov'
        
    try:
        with LiveServerSession(baseUrl) as s:
            r = s.get(url)
        assert r.status_code == 200
    except:
        raise
        
    return r

def get_soi_df(lookup, year):
    '''
    get cumulative data as df given lookup and year
    '''
    from io import BytesIO
    from zipfile import ZipFile
    import itertools
    
    r = get_soi_data(lookup, year)
    
    pd_options = {
        'header': None
    }
    
    if '.xls' in r.url:
        with BytesIO(r.content) as fh:
            df = pd.read_excel(fh, **pd_options)
    
    elif '.zip' in r.url:
        with ZipFile(BytesIO(r.content)) as my_zipfile:
            for file in my_zipfile.namelist():
                with my_zipfile.open(file) as fh:
                    df = pd.read_excel(fh, **pd_options)
    
    return df

# get_soi_state_df(state, lookup, year):

def cleanup_df(df):
    header_idx = [idx for idx, row in df.astype(str).iterrows() if row.str.contains('100,?000').any()][0]
    headers = df.loc[header_idx]
    df.rename(columns = headers, inplace=True)
        
    df.columns = ['Item', 'All returns', *df.columns.values[2:]]
    
    
    def format_column(x):
        if isinstance(x, str):
            pass
        else:
            x = '${:,}'.format(x)
            
        return x.split()[0]
    
    df.rename(columns = format_column, inplace=True)
    
    # drop rows with null values (footnotes)
    df = df[~df.isnull().any(axis=1)]
        
    return df

# for year in range(2016, 2003, -1):
#     df = get_soi_df(('abbrev', 'cm'), year)
#     display(df.head())

In [98]:
place = 'Illinois'
year = 2016
df = get_soi_df(('abbrev', 'cm'), year)

# get rows to index by
state_row_idx = None
header_row_idx = None
iterator = df.iterrows()

while not (state_row_idx and header_row_idx):
    idx, row = next(iterator)
    if row.str.contains(place, flags=re.IGNORECASE).any():
        state_row_idx = idx
    if row.str.contains('100,?000').any():
        header_row_idx = idx

# get cols to limit to
series = df.loc[state_row_idx]
series = series[series.notnull()]
target_idx = series[series.str.contains(place, flags=re.IGNORECASE)].index[0]

iterator = series.loc[target_idx:].iteritems()
target_cols = range(next(iterator)[0], next(iterator)[0])

state_df = pd.concat(
    [
        df.loc[header_row_idx:, 0:0],
        df.loc[header_row_idx:, target_cols]
    ],
    axis=1
)

df = cleanup_df(state_df)
df['year'] = year
df['place'] = place
df

/Users/pjudge/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/pjudge/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Item,All,Under,$1,"$10,000","$25,000","$50,000","$75,000","$100,000","$200,000","$500,000","$1,000,000",year,place
7,,1,2,3,4,5,6,7,8,9,10,11,2016,Illinois
9,Number of returns,6100090,72090,868390,1248050,1380690,840020,557660,827510,247350,39160,19180,2016,Illinois
10,Number of single returns,2937940,45790,727340,735370,728080,374320,164210,130620,26420,3850,1960,2016,Illinois
11,Number of joint returns,2153740,21190,55360,164050,316690,335890,337640,658180,213930,34230,16580,2016,Illinois
12,Number of head of household returns,904510,2990,77210,330790,302670,108240,45530,30620,5300,790,380,2016,Illinois
13,Number with paid preparer's signature,3384380,47830,412060,648620,743040,480770,333050,500420,168290,32690,17600,2016,Illinois
14,Number of exemptions,11740380,105370,734940,2124090,2632110,1710090,1292940,2231930,729320,121280,58320,2016,Illinois
15,Number of dependent exemptions,3941650,17710,160900,801840,943340,534920,397870,746440,268130,47920,22580,2016,Illinois
16,Total number of volunteer prepared returns [2],108210,920,31460,39140,25060,7320,2560,1640,110,0,0,2016,Illinois
17,Number of volunteer income tax assistance (VIT...,52080,540,15870,20720,12140,1940,500,350,30,0,0,2016,Illinois
18,Number of military volunteer prepared returns,740,0,110,230,170,100,60,80,10,0,0,2016,Illinois
19,Number of tax counseling for the elderly (TCE)...,55390,380,15490,18190,12750,5280,2010,1210,70,0,0,2016,Illinois
20,Number of volunteer prepared returns with Earn...,17600,40,7720,6890,2930,30,0,0,0,0,0,2016,Illinois
21,Number of refund anticipation loan returns,57340,30,7110,28670,16570,3530,1030,400,0,0,0,2016,Illinois
22,Number of refund anticipation check returns,746080,2080,90550,254360,222930,91380,43150,37690,3830,110,20,2016,Illinois
23,Number of elderly returns [3],1439450,32730,147200,248770,285170,225750,169900,244050,68970,10740,6180,2016,Illinois
24,Adjusted gross income (AGI) [4],436922230,-6964134,4474091,21397098,50162590,51737723,48334592,112374651,70470535,26401908,58533176,2016,Illinois
25,Total income: [5] [6] Number,6084150,56160,868390,1248050,1380690,840020,557660,827510,247350,39160,19180,2016,Illinois
26,Amount,443395239,-6874628,4630162,21765580,50818518,52363745,48850428,113686568,71690121,27052380,59412365,2016,Illinois
27,Salaries and wages in AGI: Number,5083240,19420,661230,991600,1196450,723750,482720,734750,222950,34370,16020,2016,Illinois
28,Amount,307923121,649331,3510467,16404840,41098353,40331761,36516330,84938701,50378189,15787539,18307610,2016,Illinois
29,Taxable interest: Number,1779830,23370,118570,178760,272810,267860,235980,447760,180870,35260,18610,2016,Illinois
30,Amount,4239567,143871,54084,127471,203307,232540,227980,591711,504681,290305,1863617,2016,Illinois
31,Ordinary dividends: Number,1287080,19380,93210,113600,168970,174080,160720,343520,163560,32580,17460,2016,Illinois
32,Amount,11129696,179747,114247,248961,447882,590781,637615,1952447,2154101,1151973,3651942,2016,Illinois
33,Qualified dividends: [7] Number,1211840,17780,86000,104540,156970,162570,150840,326020,158080,31850,17180,2016,Illinois
34,Amount,8637127,127728,76341,168126,316520,431217,479415,1525190,1743402,942465,2826723,2016,Illinois
35,State and local income tax refunds: Number,1111250,2880,8090,30300,115260,177370,186790,431700,125390,20480,12980,2016,Illinois
36,Amount,1184937,14585,3546,13150,45894,78864,98334,304780,177470,101118,347196,2016,Illinois
37,Business or profession net income (less lo...,955210,21640,131500,227290,169830,110180,83290,143790,53020,9870,4800,2016,Illinois
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,Total premium tax credit: Number,152660,5650,17440,58130,56530,12500,2070,330,0,0,0,2016,Illinois
123,Amount,540028,29976,70930,193061,192268,46575,6312,906,0,0,0,2016,Illinois
124,Advance premium tax credit: Number,180690,6010,18180,59050,66830,20120,6140,3860,450,40,20,2016,Illinois
125,Amount,593097,26041,65675,184875,213855,70132,19159,11738,1413,149,60,2016,Illinois
126,Health care individual responsibility payment:...,176290,80,700,62600,76270,23310,7600,4860,740,80,50,2016,Illinois
127,Amount,121720,41,348,33874,47590,20397,8738,8064,2094,325,249,2016,Illinois
128,Total tax payments: [12] Number,5808260,34640,743480,1175190,1348360,828550,552540,821800,245630,38950,19100,2016,Illinois
129,Amount,79952452,228942,686379,3741009,5990761,6321052,6266024,16537984,14348063,7199102,18633136,2016,Illinois
130,Earned income credit: [13] Number,1007490,7510,247040,461850,287180,3900,0,0,0,0,0,2016,Illinois
131,Amount,2484368,8099,289310,1582826,602787,1346,0,0,0,0,0,2016,Illinois
132,Excess earned income credit (refundab...,863800,5080,211910,409890,234100,2820,0,0,0,0,0,2016,Illinois
133,Amount,2120377,5590,243490,1376345,493985,967,0,0,0,0,0,2016,Illinois
134,Additional child credit: Number,714410,2960,75080,355640,241140,34490,4010,1080,0,0,0,2016,Illinois
135,Amount,957794,4636,52611,493069,354054,45938,5738,1748,0,0,0,2016,Illinois
136,Refundable education credit: [15] Number,381330,4110,39610,94240,80830,48820,38620,75090,0,0,0,2016,Illinois
137,Amount,355567,4050,35443,84678,72044,46674,37129,75549,0,0,0,2016,Illinois
138,Net premium tax credit: Number,70760,4380,11680,31910,19030,3250,480,40,0,0,0,2016,Illinois
139,Amount,55549,5184,8418,20537,16889,3874,571,76,0,0,0,2016,Illinois
140,Income tax: [16] Number,4283210,930,99090,623370,1084720,796040,550250,823540,246990,39130,19160,2016,Illinois
141,Amount,64138799,5003,19041,447485,2769461,4457099,4854034,14502319,13781123,6858452,16444782,2016,Illinois
142,Total tax liability: [17] Number,4649190,11370,214960,785430,1147940,807270,552090,824570,247230,39160,19170,2016,Illinois
143,Amount,67712602,31550,112152,806354,3113086,4711240,5078072,15054687,14419186,7261763,17124512,2016,Illinois
144,Total additional Medicare tax: Number,170100,510,30,110,210,180,250,7300,116020,30790,14700,2016,Illinois
145,Amount,363936,895,30,91,227,384,211,2178,91404,100406,168110,2016,Illinois
146,Net investment income tax: Number,170560,60,30,40,70,70,70,2200,117270,33380,17380,2016,Illinois
147,Amount,733420,819,147,159,271,133,230,1373,105310,112398,512580,2016,Illinois
148,Tax due at time of filing: [18] Number,1074270,6100,77400,114070,183770,164790,124590,259850,116840,19620,7240,2016,Illinois
149,Amount,5921450,12122,37729,129292,291157,359686,349901,1155062,1441928,791749,1352824,2016,Illinois
150,Overpayments refunded: [19] Number,4710880,29510,695430,1091610,1174770,655870,416480,531180,102330,9440,4260,2016,Illinois
151,Amount,15389263,170819,603457,3040551,3112933,1902202,1470183,2373867,842891,246401,1625959,2016,Illinois

In [3]:
def val_between(val, lte, gt=float("inf")):
    if val == 'Under' and lte == 0:
        return True
    
    try:
        val = val.replace(',', '').replace('$', '')
        val = float(val)
        return lte <= val < gt
    except ValueError:
        return False
    except:
        raise

def get_filtered_soi_data(lookup, year, items, money_range=None):
    df = get_soi_df(lookup, year)
    
    # get row where first column matches the item
    row = df.loc[df.index[df.iloc[:, 0].isin(items)].values]
    
    if (money_range):
        target_cols = list(filter(lambda x: val_between(x, *money_range), row.columns.values))
        row['sum'] = row[target_cols].sum(axis=1)
        
        target_cols = ['Item', 'year', *target_cols, 'sum']
        my_row = row[target_cols]
    else:
        my_row = row
    
    return my_row
    

def keyfunction(x):
    v = x.replace(',', '').replace('$', '')
    
    try:
        return float(v)
    except:
        if v == 'Under':
            return -1
        if v == 'All':
            return -2
        else:
            return -3

RANGES = {
    '->50k': (0, 5e4),         #    0 <= ... <  50k
#     '50k->75k': (5e4, 7.5e4),  #  50k <= ... <  75k
#     '75k->100k': (7.5e4, 1e5), #  75k <= ... < 100k
    '50k->100k': (5e4, 1e5),   #  50k <= ... < 100k
    '100k->200k': (1e5, 2e5),  # 100k <= ... < 200k
    '200k->': (2e5,)           # 200k <= ...
}

def get_soi_computed(place, items):
    df_out = pd.DataFrame()

    for range_name, RANGE in RANGES.items():
        rows = []

        for year in range(2000, 2017):
            if year == 2007:
                pass
            else:
                df_row = get_filtered_soi_data(('abbrev', place), year, items, RANGE)
                if len(df_row) == 1:
                    rows.append(df_row)

        df = pd.concat(rows, ignore_index=True)
        df_sorted = df[sorted(list(df.columns.values), key=keyfunction)]
        df_renamed = df_sorted[['Item', 'year', 'sum']].rename(columns={'sum': 'sum_{}'.format(range_name)}) 

        if len(df_out) == 0:
            df_out = df_renamed
        else:
            df_out = pd.merge(df_out, df_renamed)

    df_out['place'] = place
    
    return df_out

In [4]:
for idx, row in df_state_refs.iloc[:53].iterrows():
    print(row)
    get_soi_computed(row.abbrev, ['Returns Count', 'Number of returns'])

abbrev         al
id             01
name      Alabama
Name: 0, dtype: object

/Users/pjudge/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:68: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

abbrev        ak
id            02
name      Alaska
Name: 1, dtype: object
abbrev         az
id             03
name      Arizona
Name: 2, dtype: object
abbrev          ar
id              04
name      Arkansas
Name: 3, dtype: object
abbrev            ca
id                05
name      California
Name: 4, dtype: object
abbrev          co
id              06
name      Colorado
Name: 5, dtype: object
abbrev             ct
id                 07
name      Connecticut
Name: 6, dtype: object
abbrev          de
id              08
name      Delaware
Name: 7, dtype: object
abbrev                      dc
id                          09
name      District of Columbia
Name: 8, dtype: object
abbrev         fl
id             10
name      Florida
Name: 9, dtype: object
abbrev         ga
id             11
name      Georgia
Name: 10, dtype: object
abbrev        hi
id            12
name      Hawaii
Name: 11, dtype: object
abbrev       id
id           13
name      Idaho
Name: 12, dtype: object
abbrev          il
id              14
name      Illinois
Name: 13, dtype: object
abbrev         in
id             15
name      Indiana
Name: 14, dtype: object

AssertionError:

In [5]:
get_soi_computed('in', ['Returns Count', 'Number of returns'])

AssertionError: